<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.oauth.mapper.SysRolePermissionScopMapper">

    <select id="getUserScopeByPath" resultType="com.landleaf.homeauto.common.domain.po.oauth.SysUser">
        SELECT
        su.id,
        su.`name`
        FROM sys_user su
        LEFT JOIN sys_user_role sur ON su.id=sur.user_id
        LEFT JOIN sys_role_permission_scop srps ON sur.role_id=srps.role_id
        WHERE 1=1
        <if test="paths != null and paths.size > 0">
            AND
            <foreach collection="paths" index="index" item="item" open="(" close=")" separator="OR">
                POSITION( #{item} in srps.path) > 0
            </foreach>
        </if>
    </select>
    <select id="getPathsByUserId" resultType="java.lang.String">
        SELECT
        srps.path
        FROM sys_user su
        LEFT JOIN sys_user_role sur ON su.id=sur.user_id
        LEFT JOIN sys_role_permission_scop srps ON sur.role_id=srps.role_id
        WHERE su.id=#{userId}
    </select>
</mapper>