<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoFaultDeviceCurrentMapper">
<!--    <insert id="replaceInto"-->
<!--            parameterType="com.landleaf.homeauto.center.device.model.domain.status.HomeAutoFaultDeviceCurrent">-->
<!--    INSERT INTO "public"."home_auto_fault_device_current" (-->
<!--        "id",-->
<!--        "create_time",-->
<!--        "update_time",-->
<!--        "create_user",-->
<!--        "update_user",-->
<!--        "family_id",-->
<!--        "device_sn",-->
<!--        "product_code",-->
<!--        "realestate_id",-->
<!--        "project_id",-->
<!--        "code",-->
<!--        "value",-->
<!--        "device_id",-->
<!--        "type"-->
<!--    )-->
<!--    VALUES-->
<!--        (-->
<!--            #{id},-->
<!--            #{createTime},-->
<!--            #{updateTime},-->
<!--            #{createUser},-->
<!--            #{updateUser},-->
<!--            #{familyId},-->
<!--            #{deviceSn},-->
<!--            #{productCode},-->
<!--            #{realestateId},-->
<!--            #{projectId},-->
<!--            #{code},-->
<!--            #{value},-->
<!--            #{deviceId},-->
<!--            #{type},-->
<!--        ) ON CONFLICT ON CONSTRAINT idx_fault_device_unique DO-->
<!--    UPDATE-->
<!--        SET value = #{value},;-->
<!--    </insert>-->


    <select id="selectForUpdate"
            resultType="com.landleaf.homeauto.center.device.model.domain.status.HomeAutoFaultDeviceCurrent">
          select
        c.id as id,
        c.family_id as familyId,
        c.device_sn as deviceSn,
        c.product_code as productCode,
        c.realestate_id as realestateId,
        c.project_id as projectId,
        c.code as code,
        c.type as type,
        c.value as value,
        c.device_id as deviceId
        from home_auto_fault_device_current c
        where c.family_id =#{familyId}
        and c.device_id = #{deviceId}
        and c.type = #{type}
        and c.code = #{code};
    </select>
    <select id="listByCondition"
            resultType="com.landleaf.homeauto.center.device.model.domain.status.HomeAutoFaultDeviceCurrent">
        SELECT
        id,
        family_id,
        device_sn,
        product_code,
        realestate_id,
        project_id,
        code,
        value,
        device_id,
        type,
        update_time
        FROM home_auto_fault_device_current
        WHERE value != '0'
        <if test="realestateId != null">
            AND realestate_id = #{realestateId}
        </if>
        <if test="familyIds != null and familyIds.size > 0">
            AND family_id IN
            <foreach collection="familyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTime != null and startTime != ''">
            AND fault_time >= TO_TIMESTAMP(#{startTime},'YYYY-MM-DD hh24:mi:ss')
        </if>
        <if test="endTime != null and endTime != ''">
            AND fault_time &lt;= TO_TIMESTAMP(#{endTime},'YYYY-MM-DD hh24:mi:ss')
        </if>
        <if test="type != null">
            AND type=#{type}
        </if>
    </select>
</mapper>
