<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.MqttUserMapper">


    <delete id="removeByFamilyCode">
        delete from mqtt_user mu where mu.username like '${code}%'
    </delete>

    <select id="getIdsByFamilyCodes" resultType="java.lang.Long">
        select mu.id from mqtt_user mu
        <if test="codes!=null and codes.size > 0">
            where f.id in
            <foreach item="code" collection="codes" open="(" separator="or" close=")">
                #{code}
            </foreach>
        </if>
    </select>
</mapper>
