<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilyDeviceMapper">


    <!--添加场景 家庭暖通设备信息-->
    <resultMap id="sceneHvacDeviceVO" type="com.landleaf.homeauto.center.device.model.vo.scene.SceneHvacDeviceVO">
        <result column="code" property="categoyCode"/>
        <result column="deviceSn" property="deviceSn"/>
        <result column="name" property="name"/>
        <collection property="windSpeeds" ofType="com.landleaf.homeauto.center.device.model.vo.SelectedVO">
            <result column="attrName" property="label"/>
            <result column="attrCode" property="value"/>
        </collection>
    </resultMap>


    <!--新增场景  户型楼层房间非暖通设备 -->
    <resultMap id="sceneFloorVO" type="com.landleaf.homeauto.center.device.model.vo.scene.SceneFloorVO">
        <id column="fname" property="name"/>
        <collection property="rooms" ofType="com.landleaf.homeauto.center.device.model.vo.scene.SceneRoomVO">
            <result column="rname" property="name"/>
            <collection property="devices" ofType="com.landleaf.homeauto.center.device.model.vo.scene.SceneDeviceVO">
                <result column="sn" property="deviceSn"/>
                <result column="id" property="id"/>
                <result column="pname" property="productName"/>
                <result column="product_id" property="productId"/>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="familyDeviceWithPositionBO"
               type="com.landleaf.homeauto.center.device.model.bo.FamilyDeviceWithPositionBO">
        <id column="id" property="deviceId"/>
        <result column="sn" property="deviceSn"/>
        <result column="name" property="deviceName"/>
        <result column="floor_name" property="floorName"/>
        <result column="room_name" property="roomName"/>
        <result column="icon" property="deviceIcon"/>
        <result column="device_index" property="index"/>
    </resultMap>

    <resultMap id="familyDeviceBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyDeviceBO">
        <result column="device_id" property="deviceId"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_pic_url" property="devicePicUrl"/>
        <result column="product_code" property="productCode"/>
        <result column="category_code" property="categoryCode"/>
    </resultMap>

    <resultMap id="deviceSensorBO" type="com.landleaf.homeauto.center.device.model.bo.DeviceSensorBO">
        <result column="family_code" property="familyCode"/>
        <result column="product_code" property="productCode"/>
        <result column="device_sn" property="deviceSn"/>
    </resultMap>
    <update id="updateBatchSort">
        <foreach collection="sortNoBOS" item="item" index="index" open="" close="" separator=";">
            update family_device
            <set>
                sort_no = #{item.sortNo}
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getCommonDevicesByFamilyId" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon,
            ROW_NUMBER() OVER (ORDER BY common_device.create_time ASC) AS device_index
        FROM family_device AS device
        LEFT JOIN family_common_device AS common_device ON common_device.device_id = device.id
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE common_device.family_id = #{familyId}
    </select>

    <select id="getDeviceInfoByDeviceSn" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.sn AS sn,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon
        FROM family_device AS device
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE device.sn IN (
            SELECT device_sn FROM family_scene_action WHERE scene_id = #{sceneId}
        )
    </select>

    <select id="getUnCommonDevicesByFamilyId" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon,
            ROW_NUMBER() OVER (ORDER BY device.create_time ASC) AS device_index
        FROM family_device AS device
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE device.family_id = #{familyId}
            AND device.id NOT IN (SELECT id FROM family_common_device WHERE family_id = #{familyId})
    </select>

    <select id="getAllDevicesByFamilyId" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon,
            ROW_NUMBER() OVER (ORDER BY device.create_time ASC) AS device_index
        FROM family_device AS device
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE device.family_id = #{familyId} AND home_auto_product.nature = '1'
    </select>

    <select id="getCountByProducts" resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        d.product_id as id,
        COUNT ( 1 )
        FROM
        family_device d
        where
        d.product_id IN
        <foreach collection="productIds" open="(" close=")" separator="," item="product">
            #{product}
        </foreach>
        GROUP BY
        d.product_id
    </select>

    <select id="getDeviceListByRoomId" resultMap="familyDeviceBO">
        SELECT
            device.id AS device_id,
            device.name AS device_name,
            product.icon AS device_pic_url,
            product.code AS product_code,
            category.code AS category_code
        FROM
            family_device AS device
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        LEFT JOIN home_auto_category AS category ON category.id = product.category_id
        WHERE device.room_id = #{roomId}
    </select>

    <select id="getCountByFamilyIds" resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        d.family_id as id,
        COUNT ( 1 )
        FROM
        family_device d
        where
        d.family_id IN
        <foreach collection="familyIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        GROUP BY
        d.family_id
    </select>

    <select id="getDeviceSensorBO" resultMap="deviceSensorBO">
        SELECT
        home_auto_family.code AS family_code,
        home_auto_product.code AS product_code,
        family_device.sn AS device_sn
        FROM
        family_device
        LEFT JOIN home_auto_family ON home_auto_family.id = family_device.family_id
        LEFT JOIN home_auto_product ON home_auto_product.id = family_device.product_id
        LEFT JOIN home_auto_category ON home_auto_category.id = home_auto_product.category_id
        WHERE family_device.family_id = #{familyId} AND home_auto_category.code IN
        <foreach collection="categories" item="category" open="(" separator="," close=")">
            CAST(#{category.type} AS VARCHAR)
        </foreach>
    </select>

    <select id="getListHvacByFamilyId" resultType="com.landleaf.homeauto.common.domain.vo.SelectedVO">
        SELECT
            d.NAME AS label,
            d.ID AS
        VALUE

        FROM
            family_device d,
            home_auto_product P
        WHERE
            P.ID = d.product_id
            AND P.hvac_flag = 1
            AND d.family_id = #{familyId}
    </select>

    <select id="getDeviceByFamilyIdAndCategory"
            resultType="com.landleaf.homeauto.center.device.model.domain.FamilyDeviceDO">
        SELECT
            family_device.id AS id,
            family_device.sn AS sn,
            family_device.name AS name,
            family_device.port AS port,
            family_device.sort_no AS sort_no,
            family_device.product_id AS product_id,
            family_device.terminal_id AS terminal_id,
            family_device.room_id AS room_id,
            family_device.family_id AS family_id
        FROM family_device
        LEFT JOIN home_auto_product ON home_auto_product.id = family_device.product_id
        LEFT JOIN home_auto_category ON home_auto_category.id = home_auto_product.category_id
        WHERE home_auto_category.code = #{categoryCode} AND family_id = #{familyId}
    </select>
    <select id="existParam" resultType="java.lang.Integer">
        SELECT COUNT
        (1)
        FROM
        family_device
        WHERE
        family_id = #{roomId}
        <if test="name != null and name != ''">
            and NAME = #{name}
        </if>
        <if test="sn !=  null and sn !=  ''">
            and sn = #{sn}
        </if>
        LIMIT 1
    </select>
    <select id="getListSortNoBoGT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
        SELECT
        d.ID,
        d.sort_no
        FROM
            family_device d
        WHERE
            d.sort_no > #{sortNo}
            and d.room_id = #{roomId}
    </select>
    <select id="getListSortNoBoLT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
         SELECT
        d.ID,
        d.sort_no
        FROM
            family_device d
        WHERE
            d.sort_no &lt; #{sortNo}
            and d.room_id = #{roomId}
    </select>

    <select id="getListByRoomId"
            resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyDevicePageVO">
           SELECT
            d.ID,
            d.NAME,
            d.sn,
            d.sort_no,
            d.port,
            d.baud_rate,
            d.check_mode,
            d.data_bit,
            d.stop_bit,
            P.ID AS productId,
            P.NAME AS productName,
            dc.NAME AS brandName,
            P.brand_code,
            P.model,
            C.ID AS categoryId,
            C.NAME AS categoryName,
            T.ID AS terminalId,
            T.NAME AS terminalName
        FROM
            family_device d
            INNER JOIN home_auto_product P ON d.product_id = P.
            ID INNER JOIN home_auto_category C ON P.category_id = C.
            ID INNER JOIN family_terminal T ON d.terminal_id = T.
            ID LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE
        WHERE
            dc.dic_code = 'brand'
            AND d.room_id = #{roomId}
            order by d.sort_no asc
    </select>
    <select id="countDeviceByRoomIds"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        d.room_id as id,
        COUNT ( 1 )
        FROM
        family_device d
        where
        d.room_id IN
        <foreach collection="roomIds" open="(" close=")" separator="," item="room">
            #{room}
        </foreach>
        GROUP BY
        d.room_id
    </select>
    <select id="getListPanel" resultType="java.lang.String">
        select d.sn  from family_device d ,home_auto_category c where d.category_id = c.id  and c.code = '6'  and d.family_id = #{familyId}
    </select>

    <select id="getListHvacInfo"
            resultMap="sceneHvacDeviceVO">
         SELECT
                d.sn as deviceSn,
                c.code,
                d.name,
                pai.name as attrName,
                pai.code as attrCode
            FROM
                family_device d,
                home_auto_category c,
                home_auto_product p,
                product_attribute pa,
                product_attribute_info pai
            WHERE
                d.category_id = C.ID
                and d.product_id = p.id
                and pa.product_id = p.id
                and pai.product_attribute_id = pa.id
                and p.hvac_flag = 1
                and pa.code = 'wind_speed'
                AND d.family_id = #{familyId}
    </select>
    <select id="getListPanelSelects" resultType="com.landleaf.homeauto.center.device.model.vo.device.PanelBO">
        SELECT
            d.sn,
            r.NAME as roomName,
            f.NAME AS floorName
        FROM
            family_device d,
            home_auto_category C,
            family_room r,
            family_floor f
        WHERE
            d.category_id = C.ID
            AND d.room_id = r.ID
            AND r.floor_id = f.ID
            AND C.code = '6'
            AND d.family_id = #{familyId}
    </select>

    <select id="getPanelSettingTemperature"
            resultType="com.landleaf.homeauto.center.device.model.vo.scene.AttributeScopeVO">
        SELECT
            pais.max,
            pais.min,
            pais.step,
            pais.precision
        FROM
            family_device d,
            home_auto_category c,
            home_auto_product p,
            product_attribute pa,
            product_attribute_info_scope pais

        WHERE
            d.category_id = C.ID
            and d.product_id = p.id
            and pa.product_id = p.id
            and pais.parent_id = pa.id
            and pais.type = 1
            and pa.code = 'setting_temperature'
            and c.code = '6'
            AND d.family_id = #{familyId}
            limit 1
    </select>

    <select id="getListdeviceInfo"
            resultMap="sceneFloorVO">
		SELECT
            f.name as fname,
            r.name as rname,
            d.name as dname,
            d.sn,
            d.id,
            d.product_id,
            p.name as pname
        FROM
            family_floor f
            left join family_room r on f.id = r.floor_id
            left join family_device d on d.room_id = r.id
            left join home_auto_product p on p.id = d.product_id
            left join home_auto_category c on p.category_id = c.id
        WHERE
            p.hvac_flag = 0
            and c.code != '6'
            and c.code != '12'
			and p.nature = 1
            and d.family_id = #{familyId}
    </select>
    <select id="getListDevice" resultType="com.landleaf.homeauto.center.device.model.vo.scene.SceneDeviceVO">
      SELECT
            f.name as floorName,
            r.name as roomName,
            d.name as deviceName,
            d.sn as deviceSn,
            d.id,
            d.product_id,
            p.name as productName
        FROM
            family_floor f
            inner join family_room r on f.id = r.floor_id
            inner join family_device d on d.room_id = r.id
            inner join home_auto_product p on p.id = d.product_id
			inner join home_auto_category c on p.category_id = c.id
        WHERE
            p.hvac_flag = 0
			and c.code != '6'
			and c.code != '12'
			and p.nature = 1
            and d.family_id = #{familyId}
    </select>

    <select id="getListSyncSceneDevice"
            resultType="com.landleaf.homeauto.common.domain.dto.sync.SyncSceneDeviceBO">
        SELECT
        d.sn,
        P.code as productCode
        FROM
        family_device d,
        home_auto_product P
        WHERE
        d.product_id = P.ID
        AND d.family_id = #{familyId}
        AND d.sn IN
        <foreach collection="deviceSns" open="(" close=")" separator="," item="sn">
            #{sn}
        </foreach>
    </select>

</mapper>
