<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilySceneActionMapper">


    <!--同步场景  -->
    <resultMap id="syncSceneBO" type="com.landleaf.homeauto.common.domain.dto.sync.SyncSceneBO">
        <result column="device_sn" property="sn"/>
        <result column="scene_id" property="sceneId"/>
        <collection property="attrs" ofType="com.landleaf.homeauto.common.domain.dto.sync.SyncSceneActionDTO">
            <result column="product_attribute_code" property="attrTag"/>
            <result column="val" property="attrValue"/>
        </collection>
    </resultMap>

    <select id="getListSyncSceneDTO" resultMap="syncSceneBO">
	    select sa.device_sn,sa.val,sa.product_attribute_code,sa.scene_id from family_scene_action sa where sa.family_id = #{familyId}
    </select>
    <select id="getListSceneHvacAction"
            resultType="com.landleaf.homeauto.common.domain.dto.sync.SyncSceneHvacAtionBO">
        SELECT
            A.ID as actionId,
            C.scene_id,
            C.device_sn as sn,
            C.switch_code,
            C.switch_val,
            A.mode_code,
            A.mode_val,
            A.wind_code,
            A.wind_val
        FROM
            family_scene_hvac_config C
            LEFT JOIN family_scene_hvac_action A ON A.hvac_config_id = C.ID
        WHERE
            C.family_id = #{familyId}
    </select>
</mapper>
