<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilySceneMapper">

    <!--  场景对象  -->
    <resultMap id="sceneForApp" type="FamilySceneBO">
        <id column="scene_id" property="sceneId"/>
        <result column="scene_name" property="sceneName"/>
        <result column="scene_icon" property="sceneIcon"/>
        <result column="scene_index" property="index"/>
    </resultMap>

    <select id="getCommonScenesByFamilyId" parameterType="java.lang.String" resultMap="sceneForApp">
        SELECT
            scene.id AS scene_id,
            scene.name AS scene_name,
            scene.icon AS scene_icon,
            ROW_NUMBER() OVER (ORDER BY common_scene.create_time ASC) AS scene_index
        FROM family_common_scene AS common_scene
        LEFT JOIN family_scene AS scene ON scene.id = common_scene.scene_id
        WHERE common_scene.family_id = #{familyId}
    </select>

    <select id="getUncommonScenesByFamilyId" parameterType="java.lang.String" resultMap="sceneForApp">
        SELECT
            scene.id AS scene_id,
            scene.name AS scene_name,
            scene.icon AS scene_icon,
            ROW_NUMBER() OVER (ORDER BY scene.create_time ASC) AS scene_index
        FROM family_scene AS scene
        WHERE scene.family_id = #{familyId}
            AND scene.id NOT IN (SELECT id FROM family_common_scene WHERE family_id = #{familyId})
    </select>

</mapper>
