<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilyTerminalOnlineStatusMapper">

    <select id="getLatestRecord"
            resultType="com.landleaf.homeauto.center.device.model.domain.FamilyTerminalOnlineStatusDO">
        SELECT
            s.ID,
            s.family_id,
            s.mac,
            s.status,
            s.start_time,
            s.end_time,
            s.terminal_id,
            s.create_time,
            s.create_user,
            s.update_time,
            s.update_user
        FROM
            family_terminal_online_status s
        WHERE
            s.family_id = #{familyId}
            AND s.mac = #{mac}
            AND s.terminal_id = #{terminalId}
        ORDER BY create_time DESC
        LIMIT 1
    </select>
</mapper>
