<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilyDeviceMapper">

    <resultMap id="familyDeviceWithPositionBO"
               type="com.landleaf.homeauto.center.device.model.bo.FamilyDeviceWithPositionBO">
        <id column="id" property="deviceId"/>
        <result column="sn" property="deviceSn"/>
        <result column="name" property="deviceName"/>
        <result column="floor_name" property="floorName"/>
        <result column="room_name" property="roomName"/>
        <result column="icon" property="deviceIcon"/>
        <result column="device_index" property="index"/>
    </resultMap>

    <resultMap id="familyDeviceBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyDeviceBO">
        <result column="device_id" property="deviceId"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_pic_url" property="devicePicUrl"/>
    </resultMap>

    <select id="getCommonDevicesByFamilyId" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon,
            ROW_NUMBER() OVER (ORDER BY common_device.create_time ASC) AS device_index
        FROM family_device AS device
        LEFT JOIN family_common_device AS common_device ON common_device.device_id = device.id
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE common_device.family_id = #{familyId}
    </select>

    <select id="getDeviceInfoByDeviceSn" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.sn AS sn,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon
        FROM family_device AS device
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE device.sn IN (
            SELECT device_sn FROM family_scene_action WHERE scene_id = #{sceneId}
        )
    </select>

    <select id="getUnCommonDevicesByFamilyId" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon,
            ROW_NUMBER() OVER (ORDER BY device.create_time ASC) AS device_index
        FROM family_device AS device
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE device.family_id = #{familyId}
            AND device.id NOT IN (SELECT id FROM family_common_device WHERE family_id = #{familyId})
    </select>

    <select id="getAllDevicesByFamilyId" parameterType="java.lang.String" resultMap="familyDeviceWithPositionBO">
        SELECT
            device.id AS id,
            device.name AS name,
            floor.name AS floor_name,
            room.name AS room_name,
            product.icon AS icon,
            ROW_NUMBER() OVER (ORDER BY device.create_time ASC) AS device_index
        FROM family_device AS device
        LEFT JOIN family_room AS room ON room.id = device.room_id
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE device.family_id = #{familyId}

    </select>
    <select id="getCountByProducts" resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        d.product_id as id,
        COUNT ( 1 )
        FROM
        family_device d
        where
        d.product_id IN
        <foreach collection="productIds" open="(" close=")" separator="," item="product">
            #{product}
        </foreach>
        GROUP BY
        d.product_id
    </select>

    <select id="getDeviceListByRoomId" resultMap="familyDeviceBO">
        SELECT
            device.id AS device_id,
            device.name AS device_name,
            product.icon AS device_pic_url
        FROM
            family_device AS device
        LEFT JOIN home_auto_product AS product ON product.id = device.product_id
        WHERE device.room_id = #{roomId}
    </select>

</mapper>
