<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilyRoomMapper">

    <resultMap id="familyRoomBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyRoomBO">
        <result column="floor_id" property="floorId"/>
        <result column="floor_name" property="floorName"/>
        <result column="room_id" property="roomId"/>
        <result column="room_name" property="roomName"/>
        <result column="room_pic_url" property="roomPicUrl"/>
    </resultMap>
    <update id="updateBatchSort">
        update family_room
        <set>
            sort_no = #{item.sortNo}
        </set>
        where id = #{item.id}
    </update>

    <select id="getRoomListByFamilyId" resultMap="familyRoomBO">
        SELECT
            room.id AS room_id,
            room.name AS room_name,
            room.icon AS room_pic_url,
            floor.id AS floor_id,
            floor.name AS floor_name
        FROM
            family_room AS room
        LEFT JOIN family_floor AS floor ON floor.id = room.floor_id
        WHERE floor.family_id = #{familyId}
    </select>
    <select id="getCountByFamilyIds" resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        r.family_id as id,
        COUNT ( 1 )
        FROM
        family_room r
        where
        r.family_id IN
        <foreach collection="familyIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        GROUP BY
        r.family_id
    </select>
     <select id="getListSortNoBoGT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
           SELECT
            r.ID,
            r.sort_no
            FROM
            family_room r
            WHERE
            r.sort_no > #{sortNo}
            and r.floor_id = #{floorId}
    </select>
    <select id="getListSortNoBoLT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
          SELECT
        r.ID,
        r.sort_no
        FROM
            family_room r
        WHERE
            r.sort_no &lt; #{sortNo}
            and r.floor_id = #{floorId}
    </select>
</mapper>
