<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilyRoomMapper">

    <update id="updateBatchSort">
        <foreach collection="sortNoBOS" item="item" index="index" open="" close="" separator=";">
            update family_room
            <set>
                sort_no = #{item.sortNo}
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getCountByFamilyIds" resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        r.family_id as id,
        COUNT ( 1 )
        FROM
        family_room r
        where
        r.family_id IN
        <foreach collection="familyIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        GROUP BY
        r.family_id
    </select>
     <select id="getListSortNoBoGT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
           SELECT
            r.ID,
            r.sort_no
            FROM
            family_room r
            WHERE
            r.sort_no > #{sortNo}
            and r.floor_id = #{floorId}
    </select>
    <select id="getListSortNoBoLT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
          SELECT
        r.ID,
        r.sort_no
        FROM
            family_room r
        WHERE
            r.sort_no &lt; #{sortNo}
            and r.floor_id = #{floorId}
    </select>
</mapper>
