<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoProjectMapper">

    <select id="countByRealestateId" resultType="com.landleaf.homeauto.common.domain.vo.realestate.RealestateCountBO">
        SELECT
			realestate_id,
			COUNT ( 1 )
		FROM
			home_auto_project
		WHERE
			realestate_id IN
				<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
		GROUP BY
			realestate_id
    </select>

	<select id="page" resultType="com.landleaf.homeauto.common.domain.vo.realestate.ProjectVO">
		SELECT
		p.id,
		P.NAME,
		p.status,
		P.TYPE,
		re.NAME AS realestateName,
		re.id AS realestateId,
		dc.name as developerName,
		re.path_name
		FROM
		home_auto_realestate re
		inner join home_auto_project P on re.ID = P.realestate_id
		left join sys_dic_tag dc on dc.value = re.developer_code
		WHERE
		dc.dic_code = 'brand'

		<if test="type!=null and type!=''">
			AND p.TYPE=#{type}
		</if>
		<if test="developerCode!=null and developerCode!=''">
			AND re.developer_code = ''
		</if>
		<if test="name!=null and name!=''">
			AND p.NAME like '%${name}%'
		</if>
		<if test="realestateId!=null and realestateId!=''">
			AND re.id = #{realestateId}
		</if>
		<if test="paths!=null and paths.size > 0">
			AND
			<foreach item="path" collection="paths" open="(" separator="or" close=")">
				p.path like '${path}%'
			</foreach>
		</if>
		order by p.create_time desc

	</select>
    <select id="getListSeclects" resultType="com.landleaf.homeauto.common.domain.vo.SelectedVO">
		SELECT
		p.id as value,
		P.NAME as label
		from
		home_auto_project P
		<if test="paths!=null and paths.size > 0">
			where
			<foreach item="path" collection="paths" open="(" separator="or" close=")">
				p.path like '${path}%'
			</foreach>
		</if>
	</select>
</mapper>
