<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoScreenApkUpdateDetailMapper">


    <update id="updateHistoryUnSuccessRecordsToFail">
        UPDATE home_auto_screen_apk_update_detail SET status=3 WHERE status=1
        <if test="familyIds != null and familyIds.size() > 0">
            AND family_id IN
            <foreach collection="familyIds" separator="," index="index" item="item"
                     open="(" close=")">
                #{item}
            </foreach>
        </if>

    </update>


    <select id="getHistoryDetails" resultType="com.landleaf.homeauto.center.device.model.dto.screenapk.ApkUpdateDetailResDTO">
        select
        d.id as id,
        d.apk_name as apkName,
        d.apk_version as apkVersionCode,
        f.code as familyCode,
        f.name as familyName,
        r.name as realestateName,
        p.name as projectName,
        f.path as path,
        f.path_name as pathName,
        d.status as status,
        f.room_no as roomNo,
        d.create_time as createTime
        from home_auto_screen_apk_update_detail d
        left join home_auto_family f on d.family_id = f.id
        left join home_auto_screen_apk apk on d.apk_id = apk.id
        left join home_auto_realestate r on r.id=d.realestate_id
        left join home_auto_project p on p.id=d.project_id
        where  d.status=2
        <if test="apkName!=null and apkName!=''">
            AND d.apk_name=#{apkName}
        </if>
        <if test="versionCode!=null and versionCode!=''">
            AND d.apk_version=#{versionCode}
        </if>
        <if test="realestateId!=null and realestateId!=''">
            AND d.realestate_id=#{realestateId}
        </if>
        <if test="projectId!=null and projectId!=''">
            AND d.project_id=#{projectId}
        </if>
        <if test="startTime != null ">
            AND d.create_time &gt;= TO_TIMESTAMP(#{startTime}, 'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endTime!=null ">
            AND d.create_time &lt;= TO_TIMESTAMP(#{endTime}, 'yyyy-mm-dd hh24:mi:ss')
        </if>
    </select>
</mapper>
