<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoAttribureDicMapper">

    <select id="getInfoById"
            resultType="com.landleaf.homeauto.common.domain.vo.category.AttributeDicDetailVO">
        SELECT
            A.ID,
            A.NAME,
            A.code,
            A.nature,
            A."type"
        FROM
            home_auto_attribute_dic AS A
        WHERE
             A.ID = #{id}
    </select>
    <select id="getInfoByCode"
            resultType="com.landleaf.homeauto.common.domain.vo.category.AttributeDicDetailVO">
          SELECT
            A.ID,
            A.NAME,
            A.code,
            A.nature,
            A."type"
        FROM
            home_auto_attribute_dic AS A
        WHERE
             A.code = #{code}
    </select>

</mapper>
