<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoProductMapper">

    <resultMap id="attributemap" type="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeBO">
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="nature" property="nature"/>
        <association property="scope" javaType="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeScopeVO">
            <result column="max" property="max"/>
            <result column="min" property="min"/>
            <result column="step" property="step"/>
            <result column="precision" property="precision"/>
        </association>
        <collection property="infos" ofType="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeInfoVO">
            <result column="infoName" property="name"/>
            <result column="infoCode" property="code"/>
            <result column="infoSortNo" property="sortNo"/>
            <association property="scope" javaType="com.landleaf.homeauto.common.domain.vo.category.AttributeInfoScopeVO">
                <result column="infoMax" property="max"/>
                <result column="infoMin" property="min"/>
            </association>
        </collection>
    </resultMap>



    <select id="existCheck" resultType="java.lang.Integer">
          SELECT
	          count(1)
            FROM
                home_auto_product P
            <where>
                <if test="name != null and name != ''">
                    P.NAME = #{name}
                </if>
                <if test="code != null and code != ''">
                    P.code = #{code}
                </if>
                <if test="brand != null and brand != ''">
                    P.NAME = #{name}
                </if>
                <if test="brandCode != null and brandCode != ''">
                    P.brand_code = #{brandCode}
                </if>
                <if test="model != null and model != ''">
                    P.model = #{model}
                </if>
                <if test="categoryId != null and categoryId != ''">
                    P.category_id = #{categoryId}
                </if>
            </where>
                limit 1
    </select>
    <select id="listPage" resultType="com.landleaf.homeauto.common.domain.vo.category.ProductPageVO">
        SELECT
                p.code,
                P.ID,
                P.NAME,
                P.protocol,
                P.nature,
                P.category_id,
                dc.NAME AS brandName,
                dc.VALUE AS brandCode,
                C.NAME AS categoryName
            FROM
                home_auto_product
                P INNER JOIN home_auto_category C ON C.ID = P.category_id
                LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE
                AND dc.dic_code = 'brand'
            <where>
                <if test="name != null and name != ''">
                    and P.NAME = like '%${name}%'
                </if>
                <if test="categoryId != null and categoryId != ''">
                    AND  P.category_id = #{categoryId}
                </if>
                <if test="brandCode != null and brandCode != ''">
                    AND  P.brand_code = #{brandCode}
                </if>
                <if test="model != null and model != ''">
                    and P.model = like '%${model}%'
                </if>
            </where>
        ORDER BY p.create_time desc
    </select>
    <select id="getListProductAttributeById"
            resultMap="attributemap">
          SELECT
                pa.NAME,
                pa.nature,
                pa.code,
                PA.TYPE,
                PA.sort_no as sortNo,
                pai.name AS infoName,
                pai.code AS infoCode,
                pai.sort_no as infoSortNo,
                pais.MAX,
                pais.MIN,
                pais.step,
                pais.PRECISION,
                paisi.MAX AS infoMax,
                paisi.MIN AS infoMin
            FROM
                product_attribute pa
                LEFT JOIN product_attribute_info pai ON pa.ID = pai.product_attribute_id
                LEFT JOIN product_attribute_info_scope pais ON pa.ID = pais.parent_id
                LEFT JOIN product_attribute_info_scope paisi ON pai.ID = paisi.parent_id
            WHERE
                pa.product_id = #{id}
    </select>
</mapper>
