<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoFamilyMapper">

    <resultMap id="familyBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyBO">
        <result column="family_id" property="familyId"/>
        <result column="family_name" property="familyName"/>
        <result column="last_checked" property="lastChecked"/>
    </resultMap>

    <resultMap id="familyInfoBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyInfoBO">
        <result column="family_id" property="familyId"/>
        <result column="family_code" property="familyCode"/>
    </resultMap>


    <resultMap id="floorInfoVO" type="com.landleaf.homeauto.center.device.model.vo.FloorRoomVO">
        <result column="floor" property="floor"/>
        <collection property="rooms" ofType="com.landleaf.homeauto.center.device.model.vo.RoomDeviceVO">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="img_icon" property="imgIcon"/>
            <collection property="devices" ofType="com.landleaf.homeauto.center.device.model.vo.DeviceInfoVO">
                <result column="did" property="id"/>
                <result column="dname" property="name"/>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="familyFloorDetailVO" type="com.landleaf.homeauto.center.device.model.vo.family.FamilyFloorDetailVO">
        <result column="floor" property="floor"/>
        <result column="name" property="name"/>
        <collection property="rooms" ofType="com.landleaf.homeauto.center.device.model.vo.family.FamilyRoomDetailVO">
            <result column="type" property="type"/>
            <result column="rName" property="name"/>
            <collection property="devices" ofType="com.landleaf.homeauto.center.device.model.vo.family.FamilyDeviceDetailVO">
                <result column="dName" property="name"/>
                <result column="sn" property="sn"/>
                <result column="port" property="port"/>
                <result column="productName" property="productName"/>
                <result column="brandName" property="brandName"/>
                <result column="model" property="model"/>
                <result column="categoryName" property="categoryName"/>
                <result column="terminalName" property="terminalName"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getFamilyByUserId" resultMap="familyBO">
        SELECT
            family.id AS family_id,
            family.name AS family_name,
            family_user.last_checked AS last_checked
        FROM home_auto_family family
        LEFT JOIN family_user ON family_user.family_id = family.id
        WHERE family_user.user_id = #{userId}
        ORDER BY family.create_time ASC
    </select>

    <select id="getWeatherCodeByFamilyId" resultType="java.lang.String">
        SELECT
            area.weather_code
        FROM
            home_auto_area AS area
        LEFT JOIN home_auto_realestate AS realestate ON realestate.city_code = area.code
        LEFT JOIN home_auto_project AS project ON project.realestate_id = realestate.id
        LEFT JOIN project_building AS building ON building.project_id = project.id
        LEFT JOIN project_building_unit AS unit ON unit.building_id = building.id
        LEFT JOIN home_auto_family AS family ON family.unit_id = unit.id
        WHERE family.id = #{familyId}
    </select>

    <select id="getFamilyInfoByTerminalMac" resultMap="familyInfoBO">
        SELECT
            family.id AS family_id,
            family.code AS family_code
        FROM
            home_auto_family AS family
        LEFT JOIN family_terminal AS terminal ON terminal.family_id = family.id
        WHERE terminal.type = #{type} AND terminal.mac = #{mac}
    </select>
    <select id="getListFamilyInfo" resultType="com.landleaf.homeauto.center.device.model.vo.MyFamilyInfoVO">
        SELECT
            f.ID,
            f.NAME,
            re.area,
            fu.type
        FROM
            home_auto_family f
            INNER JOIN home_auto_realestate re ON re.ID = f.realestate_id
            LEFT JOIN family_user fu ON fu.family_id = f.ID
        WHERE
            fu.user_id = #{userId}
    </select>
    <select id="getMyFamilyInfo" resultMap="floorInfoVO">
         SELECT
            f.FLOOR,
            r.ID,
            r.NAME,
            d.ID AS did,
            d.NAME AS dname,
            r.img_icon
        FROM
            family_floor f
            LEFT JOIN family_room r ON r.floor_id = f.ID
            LEFT JOIN family_device d ON d.room_id = r.ID
        WHERE
            f.family_id = #{familyId}
    </select>
    <select id="getMyFamilyUserInfo"
            resultType="com.landleaf.homeauto.center.device.model.vo.FamilyUserInfoVO">
      	SELECT
            fu.id as memberId,
            fu.user_id,
            fu.type
        FROM
            family_user fu
        WHERE
            fu.family_id = #{familyId}
    </select>
    <select id="getFamilyInfoForSobotById"
            resultType="com.landleaf.homeauto.center.device.model.dto.FamilyInfoForSobotDTO">

        SELECT
            f.id AS familyId,
            f.NAME AS familyName,
            f.realestate_id AS realestateId,
            f.project_id AS projectId,
            f.building_id AS buildingId,
            f.unit_id AS unitId,
            f.room_no AS roomNo,
            P.NAME AS projectName,
            r.NAME AS realestateName,
            pb.NAME AS buildingName,
            pbu.NAME AS unitName
        FROM
            home_auto_family f
            LEFT JOIN home_auto_realestate r ON f.realestate_id = r.
            ID LEFT JOIN home_auto_project P ON f.project_id = P.
            ID LEFT JOIN project_building pb ON f.building_id = pb.
            ID LEFT JOIN project_building_unit pbu ON f.unit_id = pbu.ID
        WHERE
            f.id = #{familyId}

    </select>
    <select id="getListByUnitId" resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyPageVO">
         SELECT
            f.ID,
            f.NAME,
            f.room_no,
            f.code,
            f.area,
            f.template_name,
            f.review_status,
            f.delivery_status,
			p.type as projectType
        FROM
            home_auto_family f,home_auto_project p
        WHERE
			f.project_id = p.id
            and f.unit_id = #{unitId} ORDER BY f.create_time desc

    </select>
    <select id="getFamilyBaseInfo"
            resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyBaseInfoVO">
            SELECT
            f.NAME,
            f.code,
            f.room_no,
            f.template_name,
            f.review_time,
            f.delivery_time,
            f.active_time,
            f.review_status,
            f.delivery_status,
            P.TYPE,
            re.address_complete
        FROM
            home_auto_family f,
            home_auto_project P,
            home_auto_realestate re
        WHERE
            f.project_id = P.ID
            AND f.realestate_id = re.ID
            AND f.ID = #{familyId}
    </select>
    <select id="getFamilyFloorDetail"
            resultMap="familyFloorDetailVO">
           SELECT
          d.NAME as dName,
            d.sn,
            d.port,
            P.NAME AS productName,
            dc.NAME AS brandName,
            P.model,
            C.NAME AS categoryName,
            T.NAME AS terminalName,
			f.floor,
			f.name,
			r.name as rName,
			r.type
        FROM
			family_floor f
			left join family_room r on f.id = r.floor_id
            left join family_device d on d.room_id = r.id
            LEFT JOIN home_auto_product P ON d.product_id = P.ID
            LEFT JOIN home_auto_category C ON P.category_id = C.ID
            LEFT JOIN family_terminal T ON d.terminal_id = T.ID
            LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE AND  dc.dic_code = 'brand'
        WHERE
        f.family_id = #{familyId}
    </select>
    <select id="getListIdByPaths" resultType="java.lang.String">
        SELECT f.id FROM home_auto_family f
        where
        <if test="paths!=null and paths.size > 0">
            <foreach item="path" collection="paths" open="(" separator="or" close=")">
                f.path like '${path}%'
            </foreach>
        </if>
    </select>
    <select id="getBaseInfoByPath"
            resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyBaseInfoDTO">
        SELECT f.id as familyId,f.code FROM home_auto_family f
        <if test="paths!=null and paths.size > 0">
            where
            <foreach item="path" collection="paths" open="(" separator="or" close=")">
                f.path like '${path}%'
            </foreach>
        </if>
    </select>

    <select id="getListByUser" resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyUserVO">
            SELECT
                f.ID,
                f.NAME,
                f.code,
                f.path_name,
                P.NAME AS projectName,
                r.NAME AS realestateName,
                P.TYPE,
                f.review_status,
                f.delivery_status
            FROM
                home_auto_family f,
                family_user fu,
                home_auto_project P,
                home_auto_realestate r
            WHERE
                fu.family_id = f.ID
                AND f.project_id = P.ID
                AND f.realestate_id = r.ID
                AND fu.user_id = #{userId}
    </select>
</mapper>
