<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoFamilyMapper">

    <resultMap id="familyForAppBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyForAppBO">
        <result column="family_id" property="familyId"/>
        <result column="family_name" property="familyName"/>
        <result column="last_checked" property="lastChecked"/>
    </resultMap>

    <resultMap id="familyInfoBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyInfoBO">
        <result column="family_id" property="familyId"/>
        <result column="family_code" property="familyCode"/>
    </resultMap>

    <select id="getFamilyByUserId" resultMap="familyForAppBO">
        SELECT
            family.id AS family_id,
            family.name AS family_name,
            family_user.last_checked AS last_checked
        FROM home_auto_family family
        LEFT JOIN family_user ON family_user.family_id = family.id
        WHERE family_user.user_id = #{userId}
        ORDER BY family.create_time ASC
    </select>

    <select id="getWeatherCodeByFamilyId" resultType="java.lang.String">
        SELECT
            area.weather_code
        FROM
            home_auto_area AS area
        LEFT JOIN home_auto_realestate AS realestate ON realestate.city_code = area.code
        LEFT JOIN home_auto_project AS project ON project.realestate_id = realestate.id
        LEFT JOIN project_building AS building ON building.project_id = project.id
        LEFT JOIN project_building_unit AS unit ON unit.building_id = building.id
        LEFT JOIN home_auto_family AS family ON family.unit_id = unit.id
        WHERE family.id = #{familyId}
    </select>

    <select id="getFamilyInfoByTerminalMac" resultMap="familyInfoBO">
        SELECT
            family.id AS family_id,
            family.code AS family_code
        FROM
            home_auto_family AS family
        LEFT JOIN family_terminal AS terminal ON terminal.family_id = family.id
        WHERE terminal.type = #{type} AND terminal.mac = #{mac}
    </select>
</mapper>
