<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HouseTemplateSceneMapper">

    <resultMap id="webSceneDetailHvacConfigVO" type="com.landleaf.homeauto.center.device.model.vo.scene.WebSceneDetailHvacConfigVO">
        <result column="device_sn" property="deviceSn"/>
        <result column="syswitch" property="switchVal"/>
        <collection property="hvacActionDTOs" ofType="com.landleaf.homeauto.center.device.model.vo.scene.WebSceneDetailHvacActionDTO">
            <result column="mode_val" property="modeVal"/>
            <result column="wind_val" property="windVal"/>
            <result column="room_flag" property="roomFlag"/>
            <result column="switch_val" property="switchVal"/>
            <result column="temperature_val" property="temperatureVal"/>
            <collection property="panelActionDTOs" ofType="com.landleaf.homeauto.center.device.model.vo.scene.WebSceneHvacPanelActionDTO">
                <result column="pswitch" property="switchVal"/>
                <result column="ptemperature" property="temperatureVal"/>
                <result column="psn" property="deviceSn"/>
            </collection>
        </collection>
    </resultMap>

    <!-- 查看场景 -->
    <resultMap id="webSceneDetailDeviceActionBO" type="com.landleaf.homeauto.center.device.model.vo.scene.WebSceneDetailDeviceActionBO">
        <result column="device_sn" property="deviceSn"/>
        <result column="product_id" property="productId"/>
        <result column="deviceId" property="deviceId"/>
        <result column="deviceName" property="deviceName"/>
        <result column="floorName" property="floorName"/>
        <result column="roomName" property="roomName"/>
        <collection property="infoBOS" ofType="com.landleaf.homeauto.center.device.model.vo.scene.SceneAttributeInfoBO">
            <result column="attribute_id" property="attributeId"/>
            <result column="val" property="val"/>
        </collection>
    </resultMap>

    <select id="getListScene" resultType="com.landleaf.homeauto.center.device.model.vo.scene.house.HouseScenePageVO">
      select s.id,s.name,s.update_flag_app,s.update_flag_screen from  house_template_scene s where s.house_template_id = #{templageId}
    </select>
    <select id="getSceneDetail"
            resultType="com.landleaf.homeauto.center.device.model.vo.scene.WebSceneDetailDTO">
       SELECT s.id,s.name,s.icon,s.hvac_flag from house_template_scene s where s.id = #{sceneId}
    </select>
    <select id="getSceneDeviceAction"
            resultMap="webSceneDetailDeviceActionBO">
        SELECT
            f.NAME AS floorName,
            r.NAME AS roomName,
            d.id as deviceId,
            d.name as deviceName,
            d.product_id,
            sa.device_sn ,
            sa.val,
            sa.attribute_id
        FROM
            house_template_scene_action sa,
            house_template_device d,
            house_template_room r,
            house_template_floor f
        WHERE
            sa.scene_id = #{id}
            and d.house_template_id = #{houseTemplateId}
            AND sa.device_sn = d.sn
            AND d.room_id = r.ID
            AND r.floor_id = f.ID
    </select>
    <select id="getListhvacCinfig"
            resultMap="webSceneDetailHvacConfigVO">
        	SELECT
        		hc.device_sn,
                hc.switch_val as syswitch,
                ha.mode_val,
                ha.wind_val,
                ha.room_flag,
                ha.switch_val,
                ha.temperature_val,
                hp.device_sn psn,
                hp.switch_val as pswitch,
                hp.temperature_val as ptemperature
            FROM
                house_scene_hvac_config hc
                left join house_scene_hvac_action ha on hc.id = ha.hvac_config_id
                left join house_scene_hvac_panel_action hp on ha.id = hp.hvac_action_id
            WHERE
             hc.scene_id = #{sceneId}
    </select>
</mapper>
