<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.oauth.mapper.SysUserMapper">
    <resultMap id="sysUserInfoMap"
               type="com.landleaf.homeauto.common.domain.dto.oauth.sysuser.SysPersonalInformationDTO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="login_time" jdbcType="DATE" property="loginTime"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>

    <sql id="condition">
        <where>
            <if test="roleId != null and roleId != ''">
                AND sur.role_id = #{roleId}
            </if>
            <if test="name != null and name != ''">
                AND su.name like  CONCAT('%', #{name}, '%')
            </if>
            <if test="mobile != null and mobile != ''">
                AND su.mobile like  CONCAT('%', #{mobile}, '%')
            </if>
            <if test="status != null">
                AND su.status = #{status}
            </if>
        </where>
        ORDER BY su.create_time desc
    </sql>
    <sql id="condition2">
        <where>
            <if test="plat != null and plat != ''">
                AND su.plat = #{plat}
            </if>
            <if test="name != null and name != ''">
                AND su.name like  CONCAT('%', #{name}, '%')
            </if>
            <if test="mobile != null and mobile != ''">
                AND su.mobile like  CONCAT('%', #{mobile}, '%')
            </if>
            <if test="status != null">
                AND su.status = #{status}
            </if>
            <if test="email != null and email!=''">
                AND su.email like  CONCAT('%', #{email}, '%')
            </if>
            <if test="startTime != null ">
                AND su.create_time &gt;= TO_TIMESTAMP(#{startTime}, 'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="endTime!=null ">
                AND su.create_time &lt;= TO_TIMESTAMP(#{endTime}, 'yyyy-mm-dd hh24:mi:ss')
            </if>
        </where>
        ORDER BY su.create_time desc
    </sql>

    <select id="listSysUsers" resultType="com.landleaf.homeauto.common.domain.dto.oauth.sysuser.SysPersonalInformationDTO">
        SELECT
        su.id as id,
        su.name as name,
        su.avatar as avatar,
        su.mobile as mobile,
        su.email as email,
        su.status as status,
        su.login_time as loginTime,
        su.create_time as createTime
        from sys_user su
        <include refid="condition2"></include>
    </select>

</mapper>