<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilyUserMapper">

    <select id="getCountByFamilyIds" resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        fu.family_id as id,
        COUNT ( 1 )
        FROM
        family_user fu
        where
        fu.family_id IN
        <foreach collection="familyIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        GROUP BY
        fu.family_id
    </select>
    <select id="checkAdmin" resultType="java.lang.Integer">
        SELECT
        COUNT( 1 )
        FROM
            family_user fu
        WHERE
            fu.TYPE = 1
            AND fu.family_id = #{familyId}
            AND fu.user_id = #{userId}
            LIMIT 1
    </select>
</mapper>
