<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.FamilySceneMapper">
    <!--家庭 场景设备动作信息配置-->
    <resultMap id="scenetdeviceMap" type="com.landleaf.homeauto.center.device.model.dto.jhappletes.FamilySceneDeviceActionBO">
        <id column="device_id" property="deviceId"/>
        <result column="deviceName" property="deviceName"/>
        <result column="device_sn" property="deviceSn"/>
        <result column="product_id" property="productId"/>
        <result column="product_code" property="productCode"/>
        <result column="floor" property="floor"/>
        <result column="roomName" property="roomName"/>
        <result column="category_code" property="categoryCode"/>
        <collection property="actions" ofType="com.landleaf.homeauto.center.device.model.vo.scene.SceneAttributeInfoBO">
            <result column="attribute_code" property="attributeCode"/>
            <result column="attribute_val" property="val"/>
        </collection>
    </resultMap>

    <!--家庭场景同步数据map-->
    <resultMap id="syncsceneMap" type="com.landleaf.homeauto.common.domain.dto.sync.SyncSceneInfoDTO">
        <id column="sceneId" property="sceneId"/>
        <result column="sceneName" property="sceneName"/>
        <result column="default_flag" property="defaultFlag"/>
        <collection property="actions" ofType="com.landleaf.homeauto.common.domain.dto.sync.SyncSceneDTO">
            <result column="device_sn" property="deviceSn"/>
            <result column="product_code" property="productCode"/>
            <collection property="attrs" ofType="com.landleaf.homeauto.common.domain.dto.sync.SyncSceneActionDTO">
                <result column="attrTag" property="attrTag"/>
                <result column="attrValue" property="attrValue"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getListSceneDeviceAction"
            resultMap="scenetdeviceMap">
         SELECT
            sc.id,
         	sc.attribute_val,
            sc.attribute_code,
            sc.product_id,
            sc.product_code,
            sc.device_id,
            sc.device_sn,
            d.NAME AS deviceName,
            d.category_code,
            r.NAME AS roomName,
            r.FLOOR
        FROM
            family_scene_action_config sc
            inner JOIN house_template_device d ON d.ID = sc.device_id
            inner JOIN family_room r ON r.template_room_id = d.room_id
        WHERE
            sc.scene_id = #{sceneId}
    </select>

    <select id="getListSyncSceneByfId"
            resultMap="syncsceneMap">
        SELECT
    	    s.ID as sceneId,
	        s.NAME as sceneName,
            s.default_flag,
            sc.device_sn,
            sc.product_code,
            sc.attribute_code as attrTag,
            sc.attribute_val as attrValue
        FROM
            family_scene s,
            family_scene_action_config sc
        WHERE
            s.family_id = #{familyId}
            AND s.ID = sc.scene_id
    </select>
</mapper>
