<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoRealestateMapper">


    <!--楼盘项目级联数据-->
    <resultMap id="realestateProject" type="com.landleaf.homeauto.common.domain.vo.common.CascadeLongVo">
        <result column="rid" property="value"/>
        <result column="rname" property="label"/>
        <collection property="children" ofType="com.landleaf.homeauto.common.domain.vo.common.CascadeLongVo">
            <result column="pid" property="value"/>
            <result column="pname" property="label"/>
        </collection>
    </resultMap>

    <select id="page" resultType="com.landleaf.homeauto.common.domain.vo.realestate.RealestateVO">
        SELECT
        re.ID,
        re.NAME,
        re.code,
        re.developer_code,
        re.address,
        re.PATH,
        re.status,
        re.path_name,
        re.address_complete
        FROM
        home_auto_realestate re
        <where>
            <if test="name!=null and name!=''">
                AND re.NAME like '%${name}%'
            </if>
        </where>
        ORDER BY re.create_time desc
        <!--<if test="paths!=null and paths.size > 0">-->
            <!--AND-->
            <!--<foreach item="path" collection="paths" open="(" separator="or" close=")">-->
                <!--re.path_oauth like '${path}%'-->
            <!--</foreach>-->
        <!--</if>-->
    </select>
    <select id="getListSeclects" resultType="com.landleaf.homeauto.common.domain.vo.SelectedLongVO">
        SELECT
        re.id as value,
        re.NAME as label
        from
        home_auto_realestate re
        <if test="paths!=null and paths.size > 0">
            where
            <foreach item="path" collection="paths" open="(" separator="or" close=")">
                re.path_oauth like '${path}%'
            </foreach>
        </if>
    </select>
    <select id="getListCascadeSeclects" resultType="com.landleaf.homeauto.common.domain.vo.common.CascadeLongVo">
        SELECT
        re.id as value,
        re.NAME as label
        from
        home_auto_realestate re
        <if test="ids!=null and ids.size > 0">
            where re.id in
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getListSeclectsByProject"
            resultType="com.landleaf.homeauto.center.device.model.vo.realestate.RealestateModeStatusVO">
        SELECT r.id,r.name,r.mode_status from home_auto_realestate r

        where r.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>

        <if test="name!=null and name !='' ">
            and r.name like '%${name}%'
        </if>


        ORDER BY r.create_time desc
    </select>

    <select id="cascadeRealestateProject"
            resultMap="realestateProject">
     SELECT
        r.ID AS rid,
        r.NAME AS rname,
        P.ID AS pid,
        P.NAME AS pname
    FROM
        home_auto_realestate r,
        home_auto_project P
    WHERE
        r.ID = P.realestate_id
        <if test="name != null and name != ''">
            and r.name like '%${name}%'
        </if>

    </select>
</mapper>
