<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoProjectMapper">



	<select id="countByRealestateId" resultType="com.landleaf.homeauto.common.domain.vo.realestate.RealestateCountBO">
		SELECT
		realestate_id,
		COUNT ( 1 )
		FROM
		home_auto_project
		WHERE
		realestate_id IN
		<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		GROUP BY
		realestate_id
	</select>

	<select id="page" resultType="com.landleaf.homeauto.common.domain.vo.realestate.ProjectVO">
		SELECT
		p.id,
		P.NAME,
		p.status,
		p.lock_flag,
		p.gateway_flag,
		P.TYPE,
		p.project_manager,
		p.remark,
		p.code,
		re.NAME AS realestateName,
		re.id AS realestateId,
		dc.name as developerName,
		re.developer_code,
		re.path_name,
		p.sys_product_id,
		sp.name as sysProductName
		FROM
		home_auto_realestate re
		inner join home_auto_project P on re.ID = P.realestate_id
		left join sys_dic_tag dc on dc.value = re.developer_code
		left join sys_product sp on sp.id = p.sys_product_id
		WHERE
		dc.dic_code = 'developer'
		<if test="type!=null and type!=''">
			AND p.TYPE=#{type}
		</if>
		<if test="developerCode!=null and developerCode!=''">
			AND re.developer_code = #{developerCode}
		</if>
		<if test="name!=null and name!=''">
			AND p.NAME like '%${name}%'
		</if>
		<if test="realestateId != null">
			AND re.id =#{realestateId}
		</if>
		<!--<if test="realestateId!=null and realestateId!=''">-->
			<!--AND re.id = #{realestateId}-->
		<!--</if>-->
		<!--<if test="paths!=null and paths.size > 0">-->
			<!--AND-->
			<!--<foreach item="path" collection="paths" open="(" separator="or" close=")">-->
				<!--p.path like '${path}%'-->
			<!--</foreach>-->
		<!--</if>-->
		order by p.create_time desc

	</select>
	<select id="getListSeclects" resultType="com.landleaf.homeauto.common.domain.vo.SelectedVO">
		SELECT
		p.id as value,
		P.NAME as label
		from
		home_auto_project P
		<if test="paths!=null and paths.size > 0">
			where
			<foreach item="path" collection="paths" open="(" separator="or" close=")">
				p.path like '${path}%'
			</foreach>
		</if>
	</select>
	<select id="getListPathProjects"
			resultType="com.landleaf.homeauto.common.domain.vo.realestate.ProjectPathVO">
		SELECT
		P.ID AS projectId,
		re.country_code,
		re.province_code,
		re.city_code,
		re.area_code,
		re.country,
		re.province,
		re.city,
		re.area,
		re.ID AS realestateId,
		re.NAME AS realestateName,
		P.NAME AS projectName
		FROM
		home_auto_realestate re,
		home_auto_project P
		WHERE
		re.ID = P.realestate_id
		<if test="paths!=null and paths.size > 0">
			and
			<foreach item="path" collection="paths" open="(" separator="or" close=")">
				p.path like '${path}%'
			</foreach>
		</if>
	</select>
	<select id="getListCascadeSeclects"
			resultType="com.landleaf.homeauto.center.device.model.domain.realestate.HomeAutoProject">
		SELECT
		p.id ,
		P.NAME ,
		p.realestate_id
		from
		home_auto_project P
		<if test="paths!=null and paths.size > 0">
			where
			<foreach item="path" collection="paths" open="(" separator="or" close=")">
				p.path like '${path}%'
			</foreach>
		</if>
	</select>

	<select id="getDetailById" resultType="com.landleaf.homeauto.common.domain.vo.realestate.ProjectDetailVO">
	SELECT
		P.NAME,
		p.status,
		P.TYPE,
		p.project_manager,
		p.remark,
		re.NAME AS realestateName,
		re.id AS realestateId,
		dc.name as developerName,
		re.path_name
		FROM
		home_auto_realestate re
		inner join home_auto_project P on re.ID = P.realestate_id
		left join sys_dic_tag dc on dc.value = re.developer_code
		WHERE
		dc.dic_code = 'developer'
		and p.id = #{projectId}
	</select>

	<select id="getListDetailByRealestateId"
			resultType="com.landleaf.homeauto.common.domain.vo.realestate.ProjectDetailVO">
		SELECT
		P.NAME,
		p.status,
		P.TYPE,
		re.NAME AS realestateName,
		re.id AS realestateId,
		dc.name as developerName,
		re.path_name
		FROM
		home_auto_realestate re
		inner join home_auto_project P on re.ID = P.realestate_id
		left join sys_dic_tag dc on dc.value = re.developer_code
		WHERE
		dc.dic_code = 'developer'
		and p.realestate_id = #{realestateId}
	</select>

    <select id="getCountBySysPids"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.CountLongBO">
		select p.sys_product_id as id , count(p.id) as count from home_auto_project p where p.sys_product_id in
		<foreach collection="sysPids" item="pid" open="(" close=")" separator=",">
			#{pid}
		</foreach>
		group by p.sys_product_id
	</select>

	<select id="getListProjectsByReaId"
			resultType="com.landleaf.homeauto.common.domain.vo.common.CascadeLongVo">
		SELECT
			P.ID AS VALUE,
			P.NAME AS label
			FROM
				home_auto_project P
			<where>
				<if test="realestatedId !=null">
					P.realestate_id = #{realestatedId}
				</if>
			</where>
	</select>

	<select id="getFamilyRoomCascadeByPid"
			resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyCascadeBO">
		SELECT
		f.ID AS familyId,
		f.doorplate,
		f.building_code,
		f.building_name,
		f.unit_code,
		f.unit_name
		FROM
		home_auto_family f
		WHERE
		f.project_id = #{projectId}
		ORDER BY
		f.ID ASC
	</select>


</mapper>
