<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoProductMapper">

    <resultMap id="attributemap" type="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeBO">
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="function_type" property="functionType"/>
        <result column="nature" property="nature"/>
        <association property="scope" javaType="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeScopeVO">
            <result column="max" property="max"/>
            <result column="min" property="min"/>
            <result column="step" property="step"/>
            <result column="precision" property="precision"/>
        </association>
        <collection property="infos" ofType="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeInfoVO">
            <result column="infoName" property="name"/>
            <result column="infoCode" property="code"/>
            <result column="infoSortNo" property="sortNo"/>
        </collection>
    </resultMap>

    <resultMap id="productAttributeErrorVO" type="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeErrorVO">
        <result column="code_name" property="codeName"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="max" property="max"/>
        <result column="min" property="min"/>
        <collection property="infos" ofType="com.landleaf.homeauto.common.domain.vo.category.ProductAttributeErrorInfoDTO">
            <result column="sort_no" property="sortNo"/>
            <result column="val" property="val"/>
        </collection>
    </resultMap>

    <resultMap id="sceneDeviceAttributeVO" type="com.landleaf.homeauto.center.device.model.vo.scene.SceneDeviceAttributeVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="product_id" property="productId"/>
        <result column="type" property="type"/>
        <association property="scopeVO" javaType="com.landleaf.homeauto.center.device.model.vo.scene.AttributeScopeVO">
            <result column="max" property="max"/>
            <result column="min" property="min"/>
            <result column="step" property="step"/>
            <result column="precision" property="precision"/>
        </association>
        <collection property="infos" ofType="com.landleaf.homeauto.center.device.model.vo.scene.SceneDeviceAttributeInfoVO">
            <result column="infoname" property="code"/>
            <result column="infocode" property="name"/>
        </collection>
    </resultMap>


    <!--产品三级联动-->
    <resultMap id="cascadeVo" type="com.landleaf.homeauto.common.domain.vo.common.CascadeVo">
        <result column="categoryId" property="value"/>
        <result column="categoryName" property="label"/>
        <collection property="children" ofType="com.landleaf.homeauto.common.domain.vo.common.CascadeVo">
            <result column="brandName" property="value"/>
            <result column="brandName" property="label"/>
            <collection property="children" ofType="com.landleaf.homeauto.common.domain.vo.common.CascadeVo">
                <result column="model" property="value"/>
                <result column="model" property="label"/>
                <collection property="children" ofType="com.landleaf.homeauto.common.domain.vo.common.CascadeVo">
                    <result column="id" property="value"/>
                    <result column="name" property="label"/>
                </collection>
            </collection>
        </collection>
    </resultMap>


    <select id="existCheck" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        home_auto_product P
        <where>
            <if test="name != null and name != ''">
                P.NAME = #{name}
            </if>
            <if test="code != null and code != ''">
                P.code = #{code}
            </if>
            <if test="brand != null and brand != ''">
                P.NAME = #{name}
            </if>
            <if test="brandCode != null and brandCode != ''">
                P.brand_code = #{brandCode}
            </if>
            <if test="model != null and model != ''">
                P.model = #{model}
            </if>
            <if test="categoryId != null and categoryId != ''">
                P.category_id = #{categoryId}
            </if>
        </where>
        limit 1
    </select>
    <select id="listPage" resultType="com.landleaf.homeauto.center.device.model.dto.product.ProductPageVO">
        SELECT
        p.code,
        P.ID,
        P.NAME,
        P.protocol,
        P.nature,
        P.category_id,
        P.category_code,
        p.model,
        dc.NAME AS brandName
        FROM
        home_auto_product p
        LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE
        AND dc.dic_code = 'brand'
        <where>
            <if test="name != null and name != ''">
                and P.NAME  like '%${name}%'
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND  P.category_id = #{categoryId}
            </if>
            <if test="brandName != null and brandName != ''">
                AND  dc.NAME = like '%${brandName}%'
            </if>
            <if test="model != null and model != ''">
                and P.model  like '%${model}%'
            </if>
        </where>
        ORDER BY p.create_time desc
    </select>
    <select id="getListProductAttributeById"
            resultMap="attributemap">
          SELECT
                pa.NAME,
                pa.nature,
                pa.code,
                PA.TYPE,
                PA.function_type,
                PA.sort_no as sortNo,
                pai.name AS infoName,
                pai.code AS infoCode,
                pai.sort_no as infoSortNo,
                pais.MAX,
                pais.MIN,
                pais.step,
                pais.PRECISION
            FROM
                product_attribute pa
                LEFT JOIN product_attribute_info pai ON pa.ID = pai.product_attribute_id
                LEFT JOIN product_attribute_info_scope pais ON pa.ID = pais.parent_id
            WHERE
                pa.product_id = #{id}
    </select>

    <select id="getProductDetailInfo"
            resultType="com.landleaf.homeauto.common.domain.vo.category.ProductDetailVO">
        SELECT
            p.code,
            P.ID,
            P.NAME,
            P.protocol,
            P.nature,
            P.category_id,
            P.category_code,
            p.model,
            p.icon,
            p.hvac_flag,
            p.brand_code,
            dc.name AS brandName
            FROM
            home_auto_product p
			LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE
        AND dc.dic_code = 'brand'
        where  P.id = #{id}
    </select>

    <select id="getListProductDetailInfo"
            resultType="com.landleaf.homeauto.common.domain.vo.category.ProductDetailVO">

    </select>
    <select id="getListAttributesErrorsDeatil"
            resultMap="productAttributeErrorVO">
        SELECT
                pe.ID,
                pe.TYPE,
                pe.MAX,
                pe.MIN,
                pe.code,
                pe.code_name,
                pai.sort_no,
                pai.val
            FROM
                product_attribute_error pe
				left join product_attribute_error_info pai on   pe.ID = pai.error_attribute_id

            WHERE
                pe.product_id = #{productId}
                ORDER BY pe.create_time desc, pai.sort_no asc
    </select>

    <select id="getListdeviceAttributeInfo"
            resultMap="sceneDeviceAttributeVO">
        SELECT
        pa.ID,
        pa.NAME,
        pa.code,
        pa.product_id,
        pa.TYPE,
        pais.MAX,
        pais.MIN,
        pais.step,
        pais.PRECISION,
        pai.NAME AS infoname,
        pai.code AS infocode
        FROM
        product_attribute pa
        LEFT JOIN product_attribute_info pai ON pa.ID = pai.product_attribute_id
        LEFT JOIN product_attribute_info_scope pais ON pais.parent_id = pa.ID
        <if test="productIds!=null and productIds.size > 0">
            where pa.nature =1 and pa.product_id IN
            <foreach item="productId" collection="productIds" open="(" separator="," close=")">
                #{productId}
            </foreach>
        </if>
    </select>

    <select id="allProductType" resultMap="cascadeVo">
        SELECT
                P.ID,
                P.NAME,
                C.id as categoryId,
                C.NAME AS categoryName,
                dc.name as brandName,
                p.model
            FROM
                home_auto_product P,
                home_auto_category C,
                sys_dic_tag dc
            WHERE
                P.category_id = C.ID
                AND dc.dic_code = 'brand'
                and dc.value =  p.brand_code
    </select>

    <select id="getProductProtocolInfo"
            resultType="com.landleaf.homeauto.common.domain.vo.category.ProductProtocolInfoBO">
            SELECT
                P.category_code,
                P.protocol_id,
                pol.code AS protocolCode
            FROM
                protocol_info pol,
                home_auto_product P
            WHERE
                pol.ID = P.protocol_id
                AND P.ID = #{productId}
    </select>

    <select id="getCountGroupByCategory" resultType="com.landleaf.homeauto.center.device.model.vo.TotalCountBO">
        SELECT
        P.category_code as pid,
        COUNT ( ID ) as count
        FROM
        home_auto_product P
        <where>
            <if test="categoryCodes!=null and categoryCodes.size > 0">
                p.category_code IN
                <foreach item="categoryCode" collection="categoryCodes" open="(" separator="," close=")">
                    #{categoryCode}
                </foreach>
            </if>
        </where>
        GROUP BY
        P.category_code
    </select>
    <select id="getListProductSelectByCategoryId"
            resultType="com.landleaf.homeauto.center.device.model.vo.product.ProductInfoSelectVO">
          SELECT
                P.ID,
                P.NAME,
                p.model,
                p.category_id ,
                p.category_code ,
                dc.NAME AS brand
            FROM
                home_auto_product p
				LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE
            WHERE
                dc.dic_code = 'brand'

    </select>
</mapper>
