<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.HomeAutoFamilyMapper">

    <resultMap id="familyBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyBO">
        <result column="family_id" property="familyId"/>
        <result column="family_name" property="familyName"/>
        <result column="last_checked" property="lastChecked"/>
    </resultMap>

    <resultMap id="familyInfoBO" type="com.landleaf.homeauto.center.device.model.bo.FamilyInfoBO">
        <result column="family_id" property="familyId"/>
        <result column="family_code" property="familyCode"/>
        <result column="template_id" property="houseTemplateId"/>
    </resultMap>


    <resultMap id="floorInfoVO" type="com.landleaf.homeauto.center.device.model.vo.FloorRoomVO">
        <result column="name" property="floor"/>
        <collection property="rooms" ofType="com.landleaf.homeauto.center.device.model.vo.RoomDeviceVO">
            <result column="id" property="id"/>
            <result column="rname" property="name"/>
            <result column="img_icon" property="imgIcon"/>
            <collection property="devices" ofType="com.landleaf.homeauto.center.device.model.vo.DeviceInfoVO">
                <result column="did" property="id"/>
                <result column="dname" property="name"/>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="familyFloorDetailVO" type="com.landleaf.homeauto.center.device.model.vo.family.FamilyFloorDetailVO">
        <result column="floor" property="floor"/>
        <result column="name" property="name"/>
        <collection property="rooms" ofType="com.landleaf.homeauto.center.device.model.vo.family.FamilyRoomDetailVO">
            <result column="type" property="type"/>
            <result column="rName" property="name"/>
            <collection property="devices"
                        ofType="com.landleaf.homeauto.center.device.model.vo.family.FamilyDeviceDetailVO">
                <result column="dName" property="name"/>
                <result column="sn" property="sn"/>
                <result column="port" property="port"/>
                <result column="productName" property="productName"/>
                <result column="brandName" property="brandName"/>
                <result column="model" property="model"/>
                <result column="categoryName" property="categoryName"/>
                <result column="terminalName" property="terminalName"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getFamilyByUserId" resultMap="familyBO">
        SELECT
            family.id AS family_id,
            family.name AS family_name,
            family_user.last_checked AS last_checked
        FROM home_auto_family family
        LEFT JOIN family_user ON family_user.family_id = family.id
        WHERE family_user.user_id = #{userId}
        ORDER BY family.create_time ASC
    </select>

    <select id="getWeatherCodeByFamilyId" resultType="java.lang.String">
        SELECT
            area.weather_code
        FROM
            home_auto_area AS area
        LEFT JOIN home_auto_realestate AS realestate ON realestate.city_code = area.code
        LEFT JOIN home_auto_family AS family ON family.realestate_id = realestate.id
        WHERE family.id = #{familyId}
    </select>

    <select id="getFamilyInfoByTerminalMac" resultMap="familyInfoBO">
        SELECT
            family.id AS family_id,
            family.code AS family_code,
            family.template_id AS template_id
        FROM
          home_auto_family AS family
        WHERE family.screen_mac = #{mac}
    </select>
    <select id="getMyFamily" resultType="com.landleaf.homeauto.center.device.model.vo.MyFamilyInfoVO">
        SELECT
            f.ID,
            f.template_id as templateId,
            f.NAME,
            re.area,
            fu.type
        FROM
            home_auto_family f
            INNER JOIN home_auto_realestate re ON re.ID = f.realestate_id
            LEFT JOIN family_user fu ON fu.family_id = f.ID
        WHERE
            fu.user_id = #{userId}
    </select>
    <select id="getMyFamilyInfo" resultMap="floorInfoVO">
         SELECT
            f.name,
            r.ID,
            r.NAME as rname,
            d.ID AS did,
            d.NAME AS dname,
            r.img_icon
        FROM
            family_floor f
            LEFT JOIN family_room r ON r.floor_id = f.ID
            LEFT JOIN family_device d ON d.room_id = r.ID
        WHERE
            f.family_id = #{familyId}
    </select>
    <select id="getMyFamilyUserInfo"
            resultType="com.landleaf.homeauto.center.device.model.vo.FamilyUserInfoVO">
      	SELECT
            fu.id as memberId,
            fu.user_id,
            fu.type
        FROM
            family_user fu
        WHERE
            fu.family_id = #{familyId}
    </select>
    <select id="getFamilyInfoForSobotById"
            resultType="com.landleaf.homeauto.center.device.model.dto.FamilyInfoForSobotDTO">

        SELECT
            f.id AS familyId,
            f.NAME AS familyName,
            f.realestate_id AS realestateId,
            f.project_id AS projectId,
            f.building_code AS buildingCode,
            f.unit_code AS unitCode,
            f.room_no AS roomNo,
            P.NAME AS projectName,
            r.NAME AS realestateName,
            f.building_code AS buildingName,
            f.unit_code AS unitName
        FROM
            home_auto_family f
            LEFT JOIN home_auto_realestate r ON f.realestate_id = r.ID
            LEFT JOIN home_auto_project P ON f.project_id = P.ID
        WHERE
            f.id = #{familyId}

    </select>
    <select id="getListByUnitId" resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyPageVO">
         SELECT
            f.ID,
            f.NAME,
            f.room_no,
            f.code,
            f.area,
            f.template_name,
            f.review_status,
            f.delivery_status,
			p.type as projectType
        FROM
            home_auto_family f,home_auto_project p
        WHERE
			f.project_id = p.id
            and f.unit_id = #{unitId}
            ORDER BY f.create_time desc

    </select>
    <!--<select id="getFamilyBaseInfo"-->
    <!--resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyBaseInfoVO">-->
    <!--SELECT-->
    <!--f.NAME,-->
    <!--f.code,-->
    <!--f.room_no,-->
    <!--f.template_id,-->
    <!--f.review_time,-->
    <!--f.delivery_time,-->
    <!--f.active_time,-->
    <!--f.review_status,-->
    <!--f.delivery_status,-->
    <!--P.TYPE,-->
    <!--re.address_complete,-->
    <!--pt.name as templateName-->
    <!--FROM-->
    <!--home_auto_family f,-->
    <!--home_auto_project P,-->
    <!--home_auto_realestate re,-->
    <!--project_house_template pt-->
    <!--WHERE-->
    <!--f.project_id = P.ID-->
    <!--AND f.realestate_id = re.ID-->
    <!--and and pt.id = f.template_id-->
    <!--AND f.ID = #{familyId}-->
    <!--</select>-->
    <select id="getFamilyFloorDetail"
            resultMap="familyFloorDetailVO">
           SELECT
          d.NAME as dName,
            d.sn,
            d.port,
            P.NAME AS productName,
            dc.NAME AS brandName,
            P.model,
            C.NAME AS categoryName,
            T.NAME AS terminalName,
			f.floor,
			f.name,
			r.name as rName,
			r.type
        FROM
			family_floor f
			left join family_room r on f.id = r.floor_id
            left join family_device d on d.room_id = r.id
            LEFT JOIN home_auto_product P ON d.product_id = P.ID
            LEFT JOIN home_auto_category C ON P.category_id = C.ID
            LEFT JOIN family_terminal T ON d.terminal_id = T.ID
            LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE AND  dc.dic_code = 'brand'
        WHERE
        f.family_id = #{familyId}
    </select>
    <select id="getListIdByPaths" resultType="java.lang.Long">
        SELECT f.id FROM home_auto_family f
        where
        <if test="paths!=null and paths.size > 0">
            <foreach item="path" collection="paths" open="(" separator="or" close=")">
                f.path like '${path}%'
            </foreach>
        </if>
    </select>
    <select id="getBaseInfoByPath"
            resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyBaseInfoDTO">
        SELECT f.id as familyId,f.code FROM home_auto_family f
        <if test="paths!=null and paths.size > 0">
            where
            <foreach item="path" collection="paths" open="(" separator="or" close=")">
                f.path like '${path}%'
            </foreach>
        </if>
    </select>

    <select id="getListByUser" resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyUserVO">
            SELECT
                f.ID,
                f.NAME,
                f.code,
                f.path_name,
                P.NAME AS projectName,
                r.NAME AS realestateName,
                P.TYPE
            FROM
                home_auto_family f,
                family_user fu,
                home_auto_project P,
                home_auto_realestate r
            WHERE
                fu.family_id = f.ID
                AND f.project_id = P.ID
                AND f.realestate_id = r.ID
                AND fu.user_id = #{userId}
    </select>

    <select id="getListFamilyByPaths" resultType="com.landleaf.homeauto.common.domain.vo.SelectedVO">
        select f.id as value,f.name as label from home_auto_family f
        <where>
            <if test="projectId != null and projectId != ''">
                and f.project_id = #{projectId}
            </if>
            <if test="paths!=null and paths.size > 0">
                and
                <foreach item="path" collection="paths" open="(" separator="or" close=")">
                    f.path like '${path}%'
                </foreach>
            </if>
        </where>
    </select>

    <select id="getListPage"
            resultType="com.landleaf.homeauto.center.device.model.vo.family.FamilyPageVO">
        SELECT
        f.ID,
        f.NAME,
        f.doorplate,
        f.floor,
        f.code,
        f.building_code,
        f.unit_code,
        f.template_id,
        f.screen_mac,
        f.ip,
        pt.NAME AS templateName
        FROM
        home_auto_family f,
        project_house_template pt
        WHERE
        pt.ID = f.template_id
        AND f.project_id = #{projectId}
        <if test="buildingCode != null and buildingCode != ''">
            and f.building_code = #{buildingCode}
        </if>
        <if test="unitCode != null and unitCode != ''">
            and f.unit_code = #{unitCode}
        </if>
        <if test="name != null and name != ''">
            and f.name like '%${name}%'
        </if>
        <if test="doorplate != null and doorplate != ''">
            and f.doorplate like '%${doorplate}%'
        </if>
        <if test="code != null and code != ''">
            and f.code  like '%${code}%'
        </if>
        <if test="bindStatus != null and bindStatus == 0">
            and f.screen_mac  = ''
        </if>
        <if test="bindStatus != null and bindStatus == 1">
            and f.screen_mac  != ''
        </if>
        <if test="floor != null and floor != ''">
            and f.floor  = #{floor}
        </if>
        <!--<if test="templateId != null and templateId != ''">-->
        <!--and f.template_id = #{templateId}-->
        <!--</if>-->
        ORDER BY f.id desc
    </select>

    <select id="getListDeviceMangeFamilyPage"
            resultType="com.landleaf.homeauto.center.device.model.vo.device.DeviceMangeFamilyPageVO">
        SELECT
        r.NAME AS realestateName,
        r.address,
        P.NAME AS projectName,
        f.NAME AS familyName,
        T.NAME AS templateName,
        f.ID AS familyId
        FROM
        home_auto_realestate r,
        home_auto_project P,
        project_house_template T,
        home_auto_family f
        WHERE
        f.realestate_id = r.ID
        AND f.project_id = P.ID
        AND f.template_id = T.ID
        <if test="realestateName != null and realestateName != ''">
            AND r.NAME LIKE '%${realestateName}%'
        </if>
        <if test="familyName != null and familyName != ''">
            AND f.NAME LIKE '%${familyName}%'
        </if>
        <if test="projectName != null and projectName != ''">
            AND p.NAME LIKE '%${projectName}%'
        </if>

    </select>


    <select id="getListDeviceMangeFamilyPage2"
            resultType="com.landleaf.homeauto.center.device.model.vo.device.DeviceMangeFamilyPageVO2">
        SELECT
        f.ID AS familyId,
        f.code AS familyCode,
        f.project_id AS projectId,
        f.building_code AS buildingCode,
        f.unit_code AS unitCode,
        f.doorplate,
        f.floor AS deviceBelongFloor,
        h.room_id AS roomId,
        h.NAME AS deviceName,
        r.NAME AS roomName,
        h.house_template_id AS templateId,
        h.id AS deviceId,
        h.product_id AS productId,
        h.product_code AS productCode,
        h.category_code AS categoryCode,
        h.sn AS deviceSn,
        h.system_flag AS systemFlag,
        (CASE WHEN fdis.online_flag = 1 THEN '在线' ELSE '离线' END) AS online
        FROM
        home_auto_family f
        INNER JOIN house_template_device h ON h.house_template_id = f.template_id
        INNER JOIN house_template_room r ON f.template_id = r.house_template_id
        LEFT JOIN (SELECT family_id, device_id, online_flag FROM
        (SELECT ROW_NUMBER() OVER (PARTITION BY family_id,device_id ORDER BY update_time DESC) rowId, family_id, device_id, online_flag FROM family_device_info_status) t WHERE rowId = 1) fdis
        ON f.id=fdis.family_id AND fdis.device_id=h.id
        WHERE

        h.room_id = r.ID
        AND h.system_flag!=2
        <if test="deviceName != null and deviceName != ''">
            AND  h.NAME LIKE '%${deviceName}%'
        </if>
        <if test="categoryCode != null and categoryCode != ''">
            AND  h.category_code = '${categoryCode}'
        </if>
        <choose>
            <when test="onlineFlag == 1">
                AND fdis.online_flag = 1
            </when>
            <when test="onlineFlag == 0">
                AND (fdis.online_flag = 0 OR fdis.online_flag IS NULL)
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <choose>
        <when test="ids!=null and ids.size > 0">
        AND f.ID IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
        #{id}
         </foreach>
        </when>
            <otherwise></otherwise>
        </choose>
        ORDER BY
        f.code


    </select>
    <select id="getFamilyCodelistByIds" resultType="java.lang.String">
        select f.code from home_auto_family f
        <if test="ids!=null and ids.size > 0">
            where f.id in
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="spaceManageStatistics"
            resultType="com.landleaf.homeauto.center.device.model.vo.space.SpaceManageStaticPageVO">
        SELECT
        f.realestate_id as realestateId,
        f.project_id as projectId,
        f.building_code as buildingCode,
        "count" ( DISTINCT unit_code ) as unitCount,
        "count" ( DISTINCT FLOOR ) as floorCount,
        "count" ( ID ) as familyCount,
        "count" ( screen_mac <![CDATA[ <> ]]>  '' OR NULL ) as bindMacCount,
        "count" ( screen_mac = '' OR NULL ) as unBindMacCount
        FROM
        home_auto_family f
        WHERE
        f.realestate_id = #{realestateId}
        AND f.project_id = #{projectId}
        <if test="buildingCode != null and buildingCode != ''">
            AND f.building_code = #{buildingCode}
        </if>
        GROUP BY
        f.realestate_id,
        f.project_id,
        f.building_code
    </select>
    <select id="listFamilyDevice"
            resultType="com.landleaf.homeauto.center.device.model.vo.device.FamilyDevicePageVO">
        SELECT
        f.ID as familyId,
        f.realestate_id as realestateId,
        f.project_id as projectId,
        f."name" as familyName,
        f.code as familyCode,
        f.building_code as buildingCode,
        f.template_id as templateId,
        r."id" as roomId,
        r."name" as roomName,
        r."floor" as deviceBelongFloor,
        d."name" as deviceName,
        d.ID as deviceId,
        d.sn as deviceSn,
        ds.online_flag,
        d.system_flag
        FROM
        home_auto_family f
        INNER JOIN project_house_template T ON f.template_id = T.ID
        INNER JOIN house_template_room r ON r.house_template_id = T.ID
        INNER JOIN house_template_device d ON d.room_id = r.ID
        left join family_device_info_status ds on ds.device_id = d.id and ds.family_id = f.id
        WHERE
        d.system_flag != 2
        and f.realestate_id = #{realestateId}
        AND f.project_id = #{projectId}
        <if test="familyId != null and familyId != ''">
            AND f.id = #{familyId}
        </if>
        <if test="buildingCode != null and buildingCode != ''">
            AND f.building_code = #{buildingCode}
        </if>
        <if test="familyName != null and familyName != ''">
            AND f.NAME LIKE '%${familyName}%'
        </if>
        <if test="deviceName != null and deviceName != ''">
            AND d."name" LIKE '%${deviceName}%'
        </if>
        <if test="deviceSn != null and deviceSn != ''">
            AND d.sn = #{deviceSn}
        </if>
        <if test="systemFlag!= null and systemFlag != ''">
            AND d.system_flag = #{systemFlag}
        </if>
    </select>

    <select id="getListFamilyIdsByPath2" resultType="java.lang.Long">
        select f.id from home_auto_family f
        <if test="paths!=null and paths.size > 0">
            where
            <foreach item="path" collection="paths" open="(" separator="or" close=")">
                re.path_oauth like '${path}%'
            </foreach>
        </if>
    </select>
    <select id="getListIdByRooms" resultType="java.lang.Long">
        select f.id from home_auto_family f
         where f.realestate_id = #{realestateId}
        <if test="familyDTO2.buildingCode != null and familyDTO2.buildingCode != ''">
            AND f.building_code = #{familyDTO2.buildingCode}
        </if>
        <if test="familyDTO2.unitCode != null and  familyDTO2.unitCode != ''">
            AND f.unit_code = #{familyDTO2.unitCode}
        </if>
    </select>
    <select id="getListDeviceCategory"
            resultType="com.landleaf.homeauto.common.domain.vo.category.CategoryBaseInfoVO">
        select
            distinct (c.id),
            h.category_code AS code,
            c.name

        from home_auto_category c

        LEFT JOIN  house_template_device h on h.category_code = c.code

        where
              <if test="templateId != null and  templateId != ''">
        h.house_template_id = #{templateId}
          </if>

    </select>

    <select id="getFamilyDeviceDetail"
            resultType="com.landleaf.homeauto.center.device.model.vo.device.FamilyDeviceDetailVO">
        SELECT
            r."name" AS roomName,
            d."name" AS deviceName,
            d.ID AS deviceId,
            d.sn AS deviceSn,
            d.address_code,
            ds.online_flag,
            P.NAME AS produtName,
            dc.NAME AS brandName,
            P.model,
            r.project_id
        FROM
            house_template_device d
            INNER JOIN home_auto_product P ON P.ID = d.product_id
            INNER JOIN house_template_room r ON r.id = d.room_id
            LEFT JOIN family_device_info_status ds ON ds.device_id = d.ID  and ds.family_id = #{familyId}
            LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE AND dc.dic_code = 'brand'
        WHERE
            d.id = #{deviceId}
            and d.house_template_id = #{templateId}
    </select>

    <select id="getFamilyCountByPath2"
            resultType="com.landleaf.homeauto.center.device.model.vo.statistics.FamilyStatistics">
        select f.id as familyId,f.template_id from home_auto_family f where
        <foreach collection="paths" item="path" open="(" separator="or" close=")">
            f.path_2 like '${path}%'
        </foreach>
    </select>

    <select id="getFamilyIdByQryObj" resultType="java.lang.Long">
        select f.id from home_auto_family f where f.realestate_id = #{realestateId} and f.doorplate = #{doorplate} and f.building_code = #{buildCode} and f.unit_code = #{unitCode}
    </select>

    <select id="getFamilyInfoByQryObj"
            resultType="com.landleaf.homeauto.center.device.model.dto.jhappletes.FamilyBaseInfoBO">
          select f.id,f.name,f.code,f.realestate_id,f.template_id,f.enable_status from home_auto_family f where f.realestate_id = #{realestateId} and f.doorplate = #{doorplate} and f.building_code = #{buildCode} and f.unit_code = #{unitCode}
    </select>


</mapper>
