<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.ProjectHouseTemplateMapper">

	<resultMap id="houseTemplatePageVO" type="com.landleaf.homeauto.center.device.model.vo.project.HouseTemplatePageVO">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="area" property="area"/>
	</resultMap>

    <select id="getListByProjectId"
            resultMap="houseTemplatePageVO">
        SELECT
			ht.ID,
			ht.NAME,
			ht.area
		FROM
			project_house_template ht
		WHERE
			ht.project_id = #{id}
			ORDER BY ht.create_time desc
    </select>
	<select id="getListSelectByProjectId"
			resultType="com.landleaf.homeauto.center.device.model.vo.family.TemplateSelectedVO">
		SELECT
			t.ID,
			t.NAME,
			t.area
		FROM
			project_house_template t
		WHERE
			t.project_id = #{projectId}
	</select>
    <select id="countByProjectIds" resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
		SELECT
		t.project_id as id,
		COUNT ( 1 )
		FROM
		project_house_template t
		WHERE
		t.project_id IN
		<foreach collection="projectIds" index="index" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		GROUP BY
		t.project_id
	</select>
</mapper>
