<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.SysCategoryAttributeMapper">

    <!--系统产品下品类 属性-属性值 map -->
    <resultMap id="attributemap" type="com.landleaf.homeauto.center.device.model.vo.sys_product.SysCategoryAttributeDTO">
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="function_type" property="functionType"/>
        <result column="nature" property="nature"/>
        <result column="category_code" property="categoryCode"/>
        <collection property="infos" ofType="com.landleaf.homeauto.center.device.model.vo.sys_product.SysProductAttributeInfoDTO">
            <result column="infoName" property="name"/>
            <result column="infoCode" property="code"/>
        </collection>
    </resultMap>

    <!--系统产品下品类 属性-属性值 map -->
    <resultMap id="categoryAttrInfoBO" type="com.landleaf.homeauto.center.device.model.vo.product.ProductAttrInfoBO">
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <collection property="values" ofType="com.landleaf.homeauto.center.device.model.vo.product.ProductAttrValueBO">
            <result column="infoName" property="name"/>
            <result column="infoCode" property="code"/>
        </collection>
    </resultMap>

    <select id="getListAttrDTOBySysProductId"
            resultMap="attributemap">
        select
          sca.name,
          sca.code,
          sca.category_code,
          sca.type,
          sca.function_type,
          sca.nature,
          sca.category_code,
          scai.name as infoName,
          scai.code as infoCode
          from
          sys_category_attribute sca
          left join sys_category_attribute_info scai on sca.id = scai.sys_attr_id
          where sca.sys_product_id = #{sysProductId}
    </select>

    <select id="getAttributeAndValByCategoryCode"
            resultMap="categoryAttrInfoBO">
        SELECT
            sca.code,
            sca.NAME,
            scai.name as infoName,
            scai.code as infoCode
        FROM
            sys_category_attribute sca
            LEFT JOIN sys_category_attribute_info scai ON sca.ID = scai.sys_attr_id
        WHERE
            sca.category_code = #{categoryCode}
         ORDER BY
            sca.code,scai.code
    </select>
</mapper>
