<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.SysProductCategoryMapper">


    <select id="getCountBySysPids"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.CountLongBO">
        select pc.sys_product_id as id , count(pc.id) as count from sys_product_category pc where pc.sys_product_id in
        <foreach collection="sysPids" item="pid" open="(" close=")" separator=",">
            #{pid}
        </foreach>
        group by pc.sys_product_id
    </select>

    <select id="getCategoryUpdateFalg" resultType="java.lang.String">
        SELECT
            d.category_code
        FROM
            home_auto_project
            P INNER JOIN house_template_device d ON P.ID = d.product_id
        WHERE
            P.sys_product_id = #{sysPid}
            AND d.system_flag = 1
    </select>
    <select id="getListCategoryBySysPid" resultType="com.landleaf.homeauto.common.domain.vo.SelectedLongVO">
        SELECT C.ID as value,c.name as label
    FROM
        sys_product_category sc,
        home_auto_category C
    WHERE
        sc.category_code = C.code
        AND sc.sys_product_id = #{sysPid}
    </select>

</mapper>
