<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.TemplateRoomMapper">


    <select id="getCountByTemplateIds"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        r.house_template_id as id,
        COUNT ( 1 )
        FROM
        house_template_room r
        where
        r.house_template_id IN
        <foreach collection="templateIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        GROUP BY
        r.house_template_id
    </select>
</mapper>
