<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.TemplateDeviceMapper">

    <!--添加场景 家庭暖通设备信息-->
    <resultMap id="sceneHvacDeviceVO" type="com.landleaf.homeauto.center.device.model.vo.scene.SceneHvacDeviceVO">
        <id column="code" property="categoyCode"/>
        <result column="deviceSn" property="deviceSn"/>
        <result column="name" property="name"/>
        <collection property="windSpeeds" ofType="com.landleaf.homeauto.center.device.model.vo.SelectedVO">
            <result column="attrName" property="label"/>
            <result column="attrCode" property="value"/>
        </collection>
    </resultMap>

    <!--新增场景  户型楼层房间非暖通设备 -->
    <resultMap id="sceneFloorVO" type="com.landleaf.homeauto.center.device.model.vo.scene.SceneFloorVO">
        <id column="fname" property="name"/>
        <collection property="rooms" ofType="com.landleaf.homeauto.center.device.model.vo.scene.SceneRoomVO">
            <result column="rname" property="name"/>
            <collection property="devices" ofType="com.landleaf.homeauto.center.device.model.vo.scene.SceneDeviceVO">
                <result column="deviceSn" property="deviceSn"/>
                <result column="id" property="id"/>
                <result column="pname" property="productName"/>
                <result column="dname" property="deviceName"/>
                <result column="product_id" property="productId"/>
            </collection>
        </collection>
    </resultMap>

    <!--设备属性配置-->
    <resultMap id="deviceAttributeMap" type="com.landleaf.homeauto.center.device.model.vo.device.DeviceAttrInfoDTO">
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <association property="rangeVO" javaType="com.landleaf.homeauto.center.device.model.vo.scene.house.AtrributeRangeVO">
            <result column="max" property="max"/>
            <result column="min" property="min"/>
            <result column="step" property="step"/>
        </association>
        <collection property="options" ofType="com.landleaf.homeauto.center.device.model.vo.scene.house.AttributeInfoVO">
            <result column="valName" property="name"/>
            <result column="valCode" property="val"/>
        </collection>
    </resultMap>

    <update id="updateBatchSort">
        <foreach collection="sortNoBOS" item="item" index="index" open="" close="" separator=";">
            update house_template_device
            <set>
                sort_no = #{item.sortNo}
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="existParam" resultType="java.lang.Integer">
          SELECT COUNT
                (1)
            FROM
                house_template_device
            WHERE
            house_template_id = #{templateId}
            <if test="name != null and name != ''">
                and NAME = #{name}
            </if>
            <if test="sn !=  null and sn !=  ''">
                and sn = #{sn}
            </if>
        <if test="categoryId !=  null and categoryId !=  ''">
            and category_id = #{categoryId}
        </if>
        LIMIT 1
    </select>

    <select id="countDeviceByRoomIds"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
            d.room_id as id,
            COUNT ( 1 )
        FROM
            house_template_device d
        where
            d.room_id IN
            <foreach collection="roomIds" open="(" close=")" separator="," item="room">
                #{room}
            </foreach>
            GROUP BY
            d.room_id
    </select>

    <select id="getListByRoomId"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.TemplateDevicePageVO">
        SELECT
            d.ID,
            d.NAME,
            d.sn,
            d.adress_code,
            P.ID AS productId,
            P.NAME AS productName,
            dc.NAME AS brandName,
            P.brand_code,
            P.model,
            C.ID AS categoryId,
            C.NAME AS categoryName
        FROM
            house_template_device d
            INNER JOIN home_auto_product P ON d.product_id = P.ID
			INNER JOIN home_auto_category C ON P.category_id = C.ID
			LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE
        WHERE
            dc.dic_code = 'brand'
            AND d.room_id = #{roomId}
            order by d.create_time desc
    </select>

    <select id="getListSortNoBoGT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
          SELECT
        d.ID,
        d.sort_no
        FROM
            house_template_device d
        WHERE
            d.sort_no > #{sortNo}
            and d.room_id = #{roomId}
    </select>

    <select id="getListSortNoBoLT" resultType="com.landleaf.homeauto.center.device.model.vo.project.SortNoBO">
           SELECT
        d.ID,
        d.sort_no
        FROM
            house_template_device d
        WHERE
            d.sort_no &lt; #{sortNo}
            and d.room_id = #{roomId}
    </select>

    <select id="getListPanel" resultType="java.lang.String">
select d.sn  from house_template_device d ,home_auto_category c where d.category_id = c.id  and c.code = '6'  and d.house_template_id = #{templateId}
    </select>

    <select id="getListPanelSelects" resultType="com.landleaf.homeauto.center.device.model.vo.device.PanelBO">
        SELECT
            d.sn,
            r.NAME as roomName,
            f.NAME AS floorName
        FROM
            house_template_device d,
            home_auto_category C,
            house_template_room r,
            house_template_floor f
        WHERE
            d.category_id = C.ID
            AND d.room_id = r.ID
            AND r.floor_id = f.ID
            AND C.code = '6'
            AND d.house_template_id = #{templateId}
    </select>

    <select id="getListHvacInfo"
            resultMap="sceneHvacDeviceVO">
            SELECT
                d.sn as deviceSn,
                c.code,
                d.name,
                pai.name as attrName,
                pai.code as attrCode
            FROM
                house_template_device d,
                home_auto_category c,
                home_auto_product p,
                product_attribute pa,
                product_attribute_info pai
            WHERE
                d.category_id = C.ID
                and d.product_id = p.id
                and pa.product_id = p.id
                and pai.product_attribute_id = pa.id
                and p.hvac_flag = 1
                and pa.code = 'wind_speed'
                AND d.house_template_id = #{templateId}
    </select>
    <select id="getPanelSettingTemperature"
            resultType="com.landleaf.homeauto.center.device.model.vo.scene.AttributeScopeVO">
        SELECT
            pais.max,
            pais.min,
            pais.step,
            pais.precision
        FROM
            house_template_device d,
            home_auto_category c,
            home_auto_product p,
            product_attribute pa,
            product_attribute_info_scope pais

        WHERE
            d.category_id = C.ID
            and d.product_id = p.id
            and pa.product_id = p.id
            and pais.parent_id = pa.id
            and pais.type = 1
            and pa.code = 'setting_temperature'
            and c.code = '6'
            AND d.house_template_id = #{templateId}
            limit 1
    </select>
    <select id="getListdeviceInfo"
            resultMap="sceneFloorVO">
        SELECT
            f.name as fname,
            r.name as rname,
            d.name as dname,
            d.sn,
            d.id,
            d.product_id,
            p.name as pname
        FROM
            house_template_floor f
            left join house_template_room r on f.id = r.floor_id
            left join house_template_device d on d.room_id = r.id
            left join home_auto_product p on p.id = d.product_id
            left join home_auto_category c on p.category_id = c.id
        WHERE
            p.hvac_flag = 0
            and c.code != '6'
            and c.code != '12'
			and p.nature = 1
            and d.house_template_id = #{templateId}
    </select>
    <select id="getListDevice" resultType="com.landleaf.homeauto.center.device.model.vo.scene.SceneDeviceVO">

         SELECT
            f.name as floorName,
            r.name as roomName,
            d.name as deviceName,
            d.sn as deviceSn,
            d.id,
            d.product_id,
            p.name as productName
        FROM
            house_template_floor f
            inner join house_template_room r on f.id = r.floor_id
            inner join house_template_device d on d.room_id = r.id
            inner join home_auto_product p on p.id = d.product_id
            inner join home_auto_category c on p.category_id = c.id
        WHERE
            p.hvac_flag = 0
            and c.code != '6'
            and c.code != '12'
			and p.nature = 1
            and d.house_template_id = #{templateId}
    </select>

    <select id="existParamCheck" resultType="java.lang.Integer">
        SELECT COUNT
        (1)
        FROM
        house_template_device
        <where>
            <if test="houseTemplateId != null and houseTemplateId != ''">
                and house_template_id = #{houseTemplateId}
            </if>
            <if test="roomId != null and roomId != ''">
                and room_id = #{roomId}
            </if>
            <if test="name != null and name != ''">
                and NAME = #{name}
            </if>
            <if test="sn !=  null and sn !=  ''">
                and sn = #{sn}
            </if>
            <if test="categoryCode !=  null and categoryCode !=  ''">
                and category_code = #{categoryCode}
            </if>
        </where>
        LIMIT 1
    </select>
    <select id="getCountByTemplateIds"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.CountBO">
        SELECT
        d.house_template_id as id,
        COUNT ( 1 )
        FROM
        house_template_device d
        where
        d.house_template_id IN
        <foreach collection="templateIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        GROUP BY
        d.house_template_id
    </select>

    <select id="getListByTemplateId"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.TemplateDevicePageVO">
       SELECT
            d.ID,
            d.NAME,
            d.code,
            d.remark,
            d.sn,
            d.show_app,
            d.show_screen,
            d.ui_code,
            P.ID AS productId,
            P.NAME AS productName,
            dc.NAME AS brandName,
            P.brand_code,
            P.model,
            p.category_code,
			d.room_id,
			r.name as roomName
        FROM
            house_template_device d
            INNER JOIN home_auto_product P ON d.product_id = P.ID
			INNER JOIN house_template_room r ON d.room_id = r.id
			LEFT JOIN sys_dic_tag dc ON P.brand_code = dc.VALUE
        WHERE
            dc.dic_code = 'brand'
            AND d.house_template_id = #{templateId}
            order by d.create_time desc
    </select>

    <select id="detailById"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.TemplateDeviceDetailVO">
        SELECT
            d.ID,
            d.NAME,
            d.code,
            d.remark,
            d.sn,
            d.ui_code,
            d.room_id,
            p.name as productName
        FROM
           house_template_device d,home_auto_product p
            where d.product_id = p.id and d.id = #{deviceId}
    </select>

    <select id="getSelectDeviceError"
            resultType="com.landleaf.homeauto.center.device.model.vo.device.DeviceBaseInfoDTO">
            SELECT
                d.product_id,
                r.NAME as roomName,
                P.NAME AS productName
            FROM
                house_template_device d,
                house_template_room r,
                home_auto_product P
            WHERE
                d.product_id = p.id
                AND r.ID = d.room_id
                AND d.house_template_id = #{tempalteId}
    </select>
    <select id="getDeviceByTemplateAndAttrCode"
            resultType="com.landleaf.homeauto.center.device.model.domain.housetemplate.TemplateDeviceDO">
    SELECT DISTINCT
        d.ID,
        d.NAME,
        d.sn,
        d.product_id,
        d.room_id,
        d.house_template_id,
        d.category_code,
        d.code
    FROM
        house_template_device d
        LEFT JOIN device_attr_info attr ON d.ID = attr.device_id
         LEFT JOIN home_auto_product P ON P.ID = d.product_id
    WHERE
        attr.code = #{attrCode}
        AND d.house_template_id = #{tempalteId};
    </select>

    <select id="getTemplateIdsByRealestateId" resultType="java.lang.String">
select t.id from home_auto_project p,project_house_template t where t.project_id = p.id and p.realestate_id = #{realestateId}
    </select>

    <select id="getTemplateIdsByPtojectIds" resultType="java.lang.String">
      select t.id from project_house_template t
            <if test = "projectIds != null">
                where t.project_id in
                <foreach collection="projectIds" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>

    </select>

    <select id="getCountFamilyUser" resultType="java.lang.Integer">
select count(fu.id) from home_auto_family f ,family_user fu where fu.family_id = f.id
        <if test="realestateId != null and realestateId !=''">
            and f.realestate_id = #{realestateId}
        </if>
        <if test = "projectIds != null">
            and f.project_id in
            <foreach collection="projectIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getFamilyStatistics"
            resultType="com.landleaf.homeauto.center.device.model.vo.project.HomeDeviceStatisticsBO">
        select f.template_id,count(f.id) from home_auto_family f
        <if test = "data != null">
            where f.template_id in
            <foreach collection="data" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        GROUP BY f.template_id
    </select>

    <select id="getDeviceAttrsInfo"
            resultMap="deviceAttributeMap">
         SELECT
                pa.code,
                pa.NAME,
                pa.type,
                pai.code as valCode,
                pai.NAME as valName,
                pas.MAX,
                pas.MIN,
                pas.step
            FROM
                product_attribute pa
                LEFT JOIN product_attribute_info pai ON pa.ID = pai.product_attribute_id
                LEFT JOIN product_attribute_info_scope pas ON pa.ID = pas.parent_id
                where pa.product_id = #{productId}
    </select>


</mapper>
