<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.homeauto.center.device.model.mapper.ProtocolAttrInfoMapper">

    <select id="getListProtocolAttrByDevice"
            resultType="com.landleaf.homeauto.center.device.model.dto.protocol.ProtocolAttrInfoBO">
          SELECT
            pa.ID,
            pa.code,
            pa.NAME,
            pa.operate_acl,
            pa.TYPE,
            pa.value_type,
            pa.app_flag,
            pa.protocol_id,
            pa.category
        FROM
            protocol_attr_info pa
        WHERE
            pa.category = #{categoryCode}
            and pa.protocol_id = #{protocolId}
            AND pa.code LIKE '${attrCodePrex}%'

    </select>
</mapper>
